<div class="card-cover">
	<img [src]="(page.images | image :'Share') || '/img/card/card.jpg'" />
</div>
<div class="card-menu clearfix">
	<ul class="clearfix">
		<li><a title="Che cos'è" (click)="scrollToElementRef(refWhat)">Che cos'è</a></li>
		<li><a title="Come utilizzarla" (click)="scrollToElementRef(refHow)">Come utilizzarla</a></li>
		<li><a title="Verifica la scadenza" (click)="scrollToElementRef(refVerify)">Verifica la data di scadenza</a></li>
		<li><a title="Termini e condizioni" href="/assets/img/card/termini_condizioni_carta_regalo_eurospin_viaggi.pdf" target="_blank">Termini e condizioni</a></li>
	</ul>
</div>
<div class="tmpl-card generic-component">
	<section id="page">
		<div class="container">
			<div class="col-sm-10 block-center">
				<div class="title">
					<h1 class="h1"><span [innerHTML]="page.title"></span> Eurospin Viaggi</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="card-cosa inner-bottom">
		<div class="container">
			<div class="col-sm-10 block-center">
				<h3 class="h3" #refWhat>Che cos'è</h3>
				<p>La Carta Regalo Eurospin Viaggi è una card acquistabile <strong>presso i punti vendita Eurospin</strong> aderenti all’iniziativa. E’ adatta ad ogni occasione, <strong>per un regalo speciale</strong> e per qualsiasi budget. La Carta Regalo Eurospin Viaggi è disponibile in 3 tipologie (25, 50 e 100 euro) e consente di acquistare <strong>qualsiasi pacchetto turistico</strong>, tra le numerose offerte di viaggio presenti sul nostro sito <a href="http://www.eurospin-viaggi.it">www.eurospin-viaggi.it.</a></p>
				<div class="row card-list">
					<div class="col-sm-4">
						<img src="/assets/img/card/card-25.jpg" />
					</div>
					<div class="col-sm-4">
						<img src="/assets/img/card/card-50.jpg" />
					</div>
					<div class="col-sm-4">
						<img src="/assets/img/card/card-100.jpg" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="card-come inner-bottom">
		<div class="container">
			<div class="col-sm-10 block-center">
				<h3 class="h3" #refHow>Come utilizzarla</h3>
				<p>Utilizzare la Carta Regalo Eurospin Viaggi è semplicissimo:</p>
				<ul>
					<li>
						<strong>sul sito <a href="http://www.eurospin-viaggi.it">www.eurospin-viaggi.it</a> o tramite l’APP EUROSPIN VIAGGI</strong>
						<br>Scegli il pacchetto turistico che desideri, compila i campi richiesti, inserisci il <strong>codice utilizzo</strong> e il <strong>codice segreto</strong> presenti sul retro (zona da grattare) della Carta e segui la procedura per completare la prenotazione della tua vacanza;
					</li>
					<li>
						<strong>Call Center al numero 045 9599</strong>
						<br>Chiama un nostro operatore, indica il codice utilizzo e il codice segreto presenti sul retro (zona da grattare) della Carta e prenota la tua vacanza.
					</li>
				</ul>
				<p>La Carta Regalo verrà automaticamente annullata all’atto della prenotazione del viaggio e il suo valore sarà scalato dall'importo totale.</p>
			</div>
		</div>
		<!-- SWIPER -->
		<div class="swiper-container feature-card" [swiper]>
			<div class="swiper-wrapper" [fancybox]="fancyboxOptions">
				<div class="swiper-slide">
					<img src="/assets/img/card/card_info_01.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="/assets/img/card/card_info_02.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="/assets/img/card/card_info_03.jpg" alt="" />
				</div>
			</div>
			<div class="swiper-button swiper-button-prev"></div>
			<div class="swiper-button swiper-button-next"></div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<section class="card-verifica inner-bottom">
		<div class="container">
			<div class="col-sm-10 block-center">
				<h3 class="h3" #refVerify>Verifica la data di scadenza</h3>
				<p>La Carta Regalo Eurospin Viaggi è valida solo dopo l’attivazione in cassa e ha una <strong>validità di 12 mesi</strong> (365 giorni) dalla data di attivazione indicata sullo scontrino.<br /><br /> Per consultare la data di scadenza della Carta Regalo, inserisci i codici della Carta.</p>
				<form id="scadenzaForm" class="form" [ngClass]="{ submitted: giftCard.submitted }" name="giftCard" role="form" novalidate autocomplete="off" (ngSubmit)="giftCard.valid && onGiftCardCheck()" #giftCard="ngForm">
					<fieldset>
						<div class="row">
							<div class="col-sm-4">
								<label>Codice utilizzo (7 cifre)</label>
								<input placeholder="Codice utilizzo" type="text" class="form-control" required pattern="[0-9]{7}" [(ngModel)]="model.code" name="code" #code="ngModel" autocomplete="code">
								<div *ngIf="code.invalid && (giftCard.submitted || code.dirty || code.touched)" class="alert alert-danger">
									<div *ngIf="code.errors.required">{{ 'errors.required' | translate }}</div>
									<div *ngIf="code.errors.pattern">inserire un codice numerico a 7 cifre</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label>Codice segreto (4 cifre)</label>
								<input placeholder="Codice segreto" type="password" class="form-control" required pattern="[0-9]{4}" [(ngModel)]="model.secret" name="secret" #secret="ngModel" autocomplete="secret">
								<div *ngIf="secret.invalid && (giftCard.submitted || secret.dirty || secret.touched)" class="alert alert-danger">
									<div *ngIf="secret.errors.required">{{ 'errors.required' | translate }}</div>
									<div *ngIf="secret.errors.pattern">inserire un codice numerico a 4 cifre</div>
								</div>
							</div>
							<div class="col-sm-4">
								<button class="btn main-btn" type="submit" [ngClass]="{ 'btn--busy': busy }">
									<span>Verifica</span>
								</button>
							</div>
						</div>
						<div class="row table-regalo" *ngIf="card">
							<div class="col-sm-12">
								<div class="wrap-table-regalo">
									<table style="width:100%">
										<tr>
											<th>Credito</th>
											<th>Data attivazione</th>
											<th>Data scadenza</th>
											<th>Stato</th>
										</tr>
										<tr>
											<td>{{card?.credits}}<sup>€</sup></td>
											<td [innerHtml]="card.activation | date:'dd/MM/yyyy'"></td>
											<td [innerHtml]="card.expire | date:'dd/MM/yyyy'"></td>
											<td [innerHtml]="card.stateShort"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="form-group form-group--errors">
							<div class="alert alert-danger" *ngIf="card && card.state != cardState.Active">
								<span [innerHtml]="card.stateLong"></span>
							</div>
							<div class="alert alert-danger" *ngIf="cardError">
								<span *ngIf="cardError.status == 404">codice non valido</span>
								<span *ngIf="cardError.status == 410">La carta è scaduta</span>
								<span *ngIf="cardError.status != 404 && cardError.status != 410" [innerHtml]="cardError.statusText"></span>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>
</div>
<section-value-proposition></section-value-proposition>
