<div class="landing-search" [style.background-image]="'url(' + (page.images | image) + ')'">
	<div class="landing-search--head">
		<div class="container">
			<div class="tit" [innerHTML]="page.abstract">-</div>
		</div>
	</div>
	<div class="landing-search--desc">
		<div class="container">
			<div class="readmore-wrap desc" [ngClass]="{active: readmore}">
				<div class="readmore-accordion">
					<div [innerHTML]="page.description"></div>
				</div>
				<div class="readmore-button">
					<button (click)="readmore = !readmore">
						<span *ngIf="!readmore">Leggi di più</span>
						<span *ngIf="readmore">Leggi di meno</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
<serp-component [useBreadcrumbs]="true"></serp-component>
<section-value-proposition></section-value-proposition>
