@import "~scss/variables";

/*--------------------------------------------------
Landing Search
--------------------------------------------------*/

.landing-search {
	background-color: $tertiary-color;
	height: 450px;
	background-size: cover;
	background-position: center;
	user-select: none;
	max-height: calc(100vh - 68px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 360px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		background: rgba(0, 35, 62, 0.55);
		mix-blend-mode: multiply;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		@include xxs-down {
			display: none;
		}
	}

	@include md-down {
		height: 400px;
	}

	@include sm-down {
		max-height: none;
	}

	@include xs-down {
		height: auto;
	}

	@include xxs-down {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center 0;
		display: block;
		min-height: 0;
		padding-top: calc(23.75% + 10px);
		height: auto;
	}


	&--head {
		position: relative;
		z-index: 2;
		flex: 0 0 auto;
		color: #fff;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 20px;

		@include xxs-down {
			display: block;
			padding: 0;
		}

		.tit {
			font-size: 50px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 30px;
			text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, .4);

			@include md-down {
				font-size: 40px;
				line-height: 1.1;
				margin-bottom: 30px;
			}

			@include xs-down {
				font-size: 30px;
				margin-bottom: 20px;
				padding: 0 10px;
				text-shadow: none;
			}

			@include xxs-down {
				color: $tit-color;
				text-align: left;
				padding: 0 15px;
				font-size: 20px;
				margin-bottom: 6px;
			}
		}
	}

	&--desc {
		position: relative;
		z-index: 2;
		flex: 0 0 auto;
		padding: 0 20px 10px;
		color: #fff;
		text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 3px 10px rgba(0, 0, 0, .4);

		@include xs-down {
			text-shadow: none;
			padding: 0 0 10px;
		}

		@include xxs-down {
			background: transparent;
		}

		.desc {
			padding: 0 15px;
			font-size: 18px;
			text-align: center;
			max-width: 800px;
			margin: 0 auto;

			@include xs-down {
				font-size: 14px;
			}

			@include xxs-down {
				color: $text-color;
				text-align: left;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}
