@import "~scss/variables";

:host {
	width: 640px;
	max-width: 100vw;
	max-height: 100vh;
	background: white;
	display: block;

	@include xxs-down {
		width: 100%;
	}
}

.container {
	max-width: 560px;
	margin: 60px auto;
}
