<div class="small-container" [hidden]="user">
	<h2>{{ 'signUp.title' | translate }}</h2>
	<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="facebook">
		<div><img [src]="facebook.picture.data.url" class="rounded-circle" width="32" height="32" /> <strong>Logged in with Facebook as {{facebook.name}}</strong></div>
		<button type="button" class="btn btn--secondary" data-dismiss="alert" aria-label="Close" (click)="onFacebookLogout()">{{ 'signUp.logout' | translate }}</button>
	</div>
	<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="google">
		<div><img [src]="google.picture" class="rounded-circle" /> <strong>Logged in with Google as {{google.name}}</strong></div>
		<button type="button" class="btn btn--secondary" data-dismiss="alert" aria-label="Close" (click)="onGoogleLogout()">{{ 'signUp.logout' | translate }}</button>
	</div>
	<form class="form" name="signUp" role="form" novalidate autocomplete="off" (ngSubmit)="signUp.valid && onSubmit()" #signUp="ngForm">
		<!-- [ngFormOptions]="{ updateOn: 'submit' }" -->
		<div class="form-group">
			<label for="firstName">{{ 'signUp.firstName' | translate }} <sup>*</sup></label>
			<input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" placeholder="{{ 'signUp.firstName' | translate }}" #firstName="ngModel" autocomplete="firstName">
			<div *ngIf="firstName.invalid && (signUp.submitted || firstName.dirty || firstName.touched)" class="alert alert-danger">
				<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lastName">{{ 'signUp.lastName' | translate }} <sup>*</sup></label>
			<input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" placeholder="{{ 'signUp.lastName' | translate }}" #lastName="ngModel" autocomplete="lastName">
			<div *ngIf="lastName.invalid && (signUp.submitted || lastName.dirty || lastName.touched)" class="alert alert-danger">
				<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="email">{{ 'signUp.email' | translate }} <sup>*</sup></label>
			<input type="email" class="form-control" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="emailConfirm" reverse="true" [(ngModel)]="model.email" name="email" placeholder="{{ 'signUp.email' | translate }}" #email="ngModel" autocomplete="email">
			<div *ngIf="email.invalid && (signUp.submitted || email.dirty || email.touched)" class="alert alert-danger">
				<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="email.errors.pattern">{{ 'errors.email' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="emailConfirm">{{ 'signUp.emailConfirm' | translate }} <sup>*</sup></label>
			<input type="email" class="form-control" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="email" [(ngModel)]="model.emailConfirm" name="emailConfirm" placeholder="{{ 'signUp.emailConfirm' | translate }}" #emailConfirm="ngModel" autocomplete="emailConfirm">
			<div *ngIf="emailConfirm.invalid && (signUp.submitted || emailConfirm.dirty || emailConfirm.touched)" class="alert alert-danger">
				<div *ngIf="emailConfirm.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="emailConfirm.errors.email">{{ 'errors.email' | translate }}</div>
				<div *ngIf="emailConfirm.errors.match">{{ 'errors.match' | translate }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">{{ 'signUp.password' | translate }} <sup>*</sup> <small class="text-muted">({{ 'signUp.passwordHint' | translate }})</small></label>
			<div class="form-password-reveal">
				<input [type]="passwordReveal.value ? 'text' : 'password'" class="form-control" required minlength="6" [(ngModel)]="model.password" name="password" placeholder="{{ 'signUp.password' | translate }}" #password="ngModel" autocomplete="password">
				<div class="checkbox">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" [(ngModel)]="model.passwordReveal" name="passwordReveal" #passwordReveal="ngModel">
						<span>{{ 'signUp.passwordReveal' | translate }}</span>
					</label>
				</div>
			</div>
			<div *ngIf="password.invalid && (signUp.submitted || password.dirty || password.touched)" class="alert alert-danger">
				<div *ngIf="password.errors.required">{{ 'errors.required' | translate }}</div>
				<div *ngIf="password.errors.minlength">{{ 'errors.minlength' | label : { value: password.errors.minlength.requiredLength } }}</div>
			</div>
		</div>
		<div class="form-group">

		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" class="form-check-input" required [(ngModel)]="model.privacyAccepted" name="privacyAccepted" #privacyAccepted="ngModel">
					<span>Preso atto dell’<a href="http://eurospin-viaggi.wslabs.it/media/userfiles/files/20180522-Informativa_Newsletter.pdf" target="_blank">informativa</a>, accetto al trattamento dei miei dati personali ai fini dell’invio di proposte comerciali da parte di Eurospin</span>
				</label>
			</div>
			<div *ngIf="privacyAccepted.invalid && (signUp.submitted || privacyAccepted.dirty || privacyAccepted.touched)" class="alert alert-danger">
				<div *ngIf="privacyAccepted.errors.required">{{ 'errors.required' | translate }}</div>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-primary" [ngClass]="{ disabled: submitted, invalid: !signUp.valid }">{{ 'signUp.register' | translate }}</button>
	</form>
	<div class="alert alert-danger fade show" role="alert" *ngIf="error">
		<strong>{{error.statusText}}</strong>
	</div>
</div>
<div class="small-container" [hidden]="!user">
	<h2>{{ 'signUp.registered' | translate }}</h2>
	<p>{{ 'signUp.registrationSent' | translate }}</p>
	<br>
	<button type="button" class="btn btn btn-block btn-warning" (click)="onSignIn()"><span>{{ 'sign.account' | translate }}</span></button><br>
</div>
