@import "~scss/variables";

/*--------------------------------------------------
Sign
--------------------------------------------------*/

:host {
	width: 640px;
	max-width: 100vw;
	max-height: 100vh;
	background: white;
	display: block;

	@include xxs-down {
		width: 100%;
	}
}

.sign-page {
	text-align: center;
	padding: 20px 40px;

	@include xs-down {
		padding: 0px;
	}

	button {
		text-transform: none;
		display: block;
		width: 100%;
		max-width: 240px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;

		svg {
			position: relative;
			margin-right: 10px;
			top: 1px;
			float: left;
			width: 18px;
			height: 18px;
			fill: #fff;
		}
	}

	.btn-facebook {
		background: #5e77aa;
		color: white;
	}

	.btn-google {
		background: #ea4335;
		color: white;
	}

	.top-border {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $border-color;
		display: inline-block;
	}

	.flag-list {
		padding: 0;
		list-style: none;
		margin: 20px auto;
		max-width: 310px;
		text-align: left;

		li {
			padding: 0 0 5px 22px;
			position: relative;
			z-index: 1;

			svg {
				position: absolute;
				top: 4px;
				left: 0;
				width: 16px;
				height: 16px;
				fill: $tertiary-color;
			}
		}
	}
}
