@import "~scss/variables";

/*--------------------------------------------------
Sign
--------------------------------------------------*/

.sign-page {
	button {
		display: block;
		width: 100%;
		max-width: 320px;
		margin-bottom: 20px;
		text-transform: uppercase;

		svg {
			position: relative;
			margin-right: 10px;
			top: 1px;
			float: left;
			width: 18px;
			height: 18px;
			fill: #fff;
		}
	}

	.btn-facebook {
		background: #5e77aa;
		color: white;
	}

	.btn-google {
		background: #ea4335;
		color: white;
	}

	.top-border {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid $border-color;
		display: inline-block;
	}

	.flag-list {
		margin: 20px 0;
		padding: 0;
		list-style: none;

		li {
			padding: 0 0 5px 22px;
			position: relative;
			z-index: 1;

			svg {
				position: absolute;
				top: 4px;
				left: 0;
				width: 16px;
				height: 16px;
				fill: $tertiary-color;
			}
		}
	}
}
