@import "~scss/variables";

/*--------------------------------------------------
Header
--------------------------------------------------*/

.header {
	position: relative;
	z-index: 100;

	@media print {

		.desktop-navbar,
		.mobile-navbar {
			display: none !important;
		}
	}

	@include sm-down {
		overflow-x: hidden;
	}

	&.nav-active {
		z-index: 120;
		overflow-x: visible;

		@include sm-down {
			.desktop-navbar {
				pointer-events: all;
				transform: translate(0);
			}

			.mobile-navbar {
				.nav-toggle {
					.nav-toggle--bars {
						span:first-child {
							transform: translate(1px, 7px) rotate(45deg);
							width: 22px;
						}

						span:nth-child(2) {
							width: 0;
						}

						span:last-child {
							transform: translate(1px, -5px) rotate(-45deg);
							width: 22px;
						}
					}
				}
			}
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;

		@include sm-down {
			padding-top: 7px;
			padding-bottom: 7px;
			padding-right: 7px;
		}
	}

	.logo {
		flex: 0 0 89px;
		max-width: 89px;

		img {
			width: 89px;
			height: 45px;

			@include xs-down {
				width: 70px;
				height: 35px;
			}
		}
	}

	.desktop-navbar {
		flex: 1 1 auto;
		max-width: none;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm-down {
			pointer-events: none;
			transform: translate(-115%);
			transition: none;
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			width: calc(100% - 60px);
			z-index: 20;
			background: #fff;
			height: 100vh;
			box-shadow: 10px 0 20px rgba(0, 0, 0, .2);
			overflow-y: auto;
		}

		@media (max-width: 900px) {
			transition: all .2s ease-in-out;
		}

		.navbar-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			padding: 0 15px;

			@include sm-down {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0;
				width: 100%;
			}

			.nav-item {
				font-size: 13px;
				padding: 0 15px;

				@include sm-down {
					padding: 0;
					border-bottom: 1px solid #e0e0e0;
					width: 100%;
				}

				.nav-link {
					color: $tit-color;
					text-decoration: none;
					border: none !important;
					background: transparent;
					padding: 0;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 100%;
						background: $tertiary-color;
						height: 2px;
						opacity: 0;
						transition: opacity .2s ease-in-out;
					}

					&.active {
						@include sm-up {
							background: #fff;
							color: $tertiary-color;
							position: relative;
							z-index: 1;

							&:before {
								opacity: 1;
							}
						}
					}

					@include sm-down {
						padding: 18px 15px;
						display: block;
						width: 100%;
						text-align: left;
					}
				}
			}
		}

		.navbar-actions {
			@include sm-down {
				padding: 18px 15px;

				.btn {
					width: 100%;
					padding: 12px;
				}
			}

			.call-center {
				margin-right: 15px;

				@include sm-down {
					display: none;
				}

				.ico {
					width: 27px;
					height: 27px;
					fill: $tertiary-color;
					transform: translate(2px, 7px) scale(.9) rotate(9deg);
				}

				strong {
					font-size: 12px;
					transform: translateY(-2px);
					display: inline-block;
				}
			}

			.btn--operator {
				margin-left: 10px;
			}

			.navbar-ico {
				display: inline-block;
				width: 40px;
				height: 32px;
				vertical-align: middle;
				text-align: center;
				position: relative;
				z-index: 1;

				.ico-fav {
					stroke: $tertiary-color;
					fill: none;
					stroke-width: 3;
					stroke-miterlimit: 10;
					width: 27px;
					height: 27px;
				}

				.fav-num {
					background: $primary-color;
					color: #fff;
					border-radius: 50%;
					display: inline-block;
					font-size: 8px;
					text-align: center;
					min-width: 15px;
					position: absolute;
					right: -1px;
					top: 0;
					z-index: 1;
					padding: 2px 1px 0 1px;
					text-indent: 1.5px;
				}

				.ico-user {
					fill: $tertiary-color;
					width: 25px;
					height: 25px;
					margin-top: 2px;
				}
			}
		}

		.btn {
			padding-top: 6px;
			padding-bottom: 6px;
			transform: translateY(-2px);
		}
	}

	.mobile-navbar {
		display: none;

		@include sm-down {
			display: flex;
			justify-content: flex-end;
			transform: translateY(2px);
		}

		.nav-item {
			padding: 0 8px;
			position: relative;
			z-index: 1;

			a {
				text-decoration: none !important;
			}

			button {
				padding: 0;
				position: relative;
			}

			.nav-link {
				color: $tertiary-color;
				text-decoration: none;
				position: relative;
				z-index: 1;
			}

			span {
				display: block;
				text-transform: uppercase;
				font-size: 9px;
				margin-top: 5px;
				line-height: 1;
			}

			.ico {
				display: block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				fill: $tertiary-color;
			}

			.ico-fav {
				fill: none;
				stroke: $tertiary-color;
				stroke-width: 3px;
			}

			.fav-num {
				background: $primary-color;
				color: #fff;
				border-radius: 50%;
				display: inline-block;
				font-size: 8px;
				text-align: center;
				min-width: 15px;
				position: absolute;
				top: 0;
				z-index: 1;
				padding: 4px 0 2px;
				text-indent: 1px;
				right: 7px;
				top: -6px;
			}

			.nav-toggle {
				background: none;
				border: none;
				padding: 0;
				text-align: center;
				color: $tertiary-color;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				cursor: pointer;
				text-decoration: none;

				&--bars {
					margin: 0 auto;
					padding-top: 3px;
					position: relative;
					z-index: 1;
					width: 28px;
					height: 20px;

					span {
						border-radius: 1px;
						display: block;
						width: 100%;
						height: 2px;
						background-color: $tertiary-color;
						margin-bottom: 4px;
						margin-top: 0;
						transition: all .2s ease-in-out;
					}
				}

				span {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					line-height: 1;
				}
			}
		}
	}

}


/*--------------------------------------------------
Subnav
--------------------------------------------------*/
@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.subnav {
	position: absolute;
	z-index: 99;
	width: 100%;
	background: linear-gradient(to top, lighten($tertiary-color, 5%), darken($tertiary-color, 10%));
	transform-origin: center top;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
	opacity: 0;
	animation: fade-in .3s normal forwards ease-in-out;

	@include sm-down {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		height: 100vh;
		overflow-y: scroll;
		width: calc(100% - 60px);
		opacity: 1;
		animation: none;
		background: #fff;

		.nav-active & {
			display: block;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		padding: 0;
	}


	.subnav-close {
		display: none;

		@include sm-down {
			position: relative;
			position: sticky;
			top: 0;
			display: block;
			width: 100%;
			text-align: left;
			padding: 18px 15px;
			border-bottom: 1px solid $border-color;
			text-decoration: none !important;
			margin: 0;
			text-transform: uppercase;
			font-size: 12px;
			background: $tertiary-color;
			color: $tit-color;
			background: #fafafa;
			z-index: 10;
			box-shadow: 0 3px 6px rgba(0, 0, 0, .15);

			svg {
				width: 12px;
				height: 12px;
				margin: 0 3px 0 0;
				fill: $tit-color;
				transform: translateY(1px);
			}
		}
	}

	.subnav-col {
		flex: 0 0 33.333%;
		max-width: 33.3333%;
		padding: 20px 20px;
		border-right: 1px solid rgba(255, 255, 255, .2);

		&:last-child {
			border-right: 0;
		}

		@include sm-down {
			flex: 0 0 50%;
			max-width: 50%;
			border: none;
			padding: 0;
		}

		@include xs-down {
			flex: 0 0 100%;
			max-width: none;
		}


		h3 {
			color: #fff;

			@include sm-down {
				display: block;
				padding: 18px 15px;
				border-bottom: 1px solid $border-color;
				text-decoration: none !important;
				margin: 0;
				text-transform: uppercase;
				font-size: 14px;
				background: $tertiary-color;
				color: #fff;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			@include md-down {
				display: block;
			}

			li {
				font-size: 13px;
				flex: 0 0 50%;
				max-width: 50%;
				line-height: 1.2;

				@include md-down {
					flex: 0 0 100%;
					max-width: none;
				}

				a {
					position: relative;
					z-index: 1;
					display: inline-block;
					padding: 4px 20px 5px 0;
					color: rgba(255, 255, 255, .8);
					transition: color .2s ease-in-out;

					&:hover {
						color: #fff;
					}

					@include sm-down {
						display: block;
						padding: 14px 15px;
						border-bottom: 1px solid $border-color;
						background: #fff;
						text-decoration: none !important;
						color: $tertiary-color;

						&:hover {
							color: $tertiary-color;
						}
					}

					&:before {
						// content: '';
						position: absolute;
						z-index: 1;
						top: 10px;
						left: 0;
						border-radius: 50%;
						width: 3px;
						height: 3px;
						opacity: .5;
						background: $tertiary-color;

						@include sm-down {
							display: none;
						}
					}
				}

			}
		}
	}
}


.subnav-2 {
	@include sm-up {
		.container {
			justify-content: center;

			.subnav-col {
				flex: 0 0 46%;
				max-width: 46%;

				ul {
					display: flex;
				}
			}
		}
	}
}


.subnav-3 {
	@include sm-up {
		.container {
			justify-content: flex-end;

			.subnav-col {
				flex: 0 0 65.5%;
				max-width: 65.5%;

				ul {
					display: block;
				}
			}
		}
	}
}
