@import "~scss/variables";

/*--------------------------------------------------
Top Header
--------------------------------------------------*/

.top-header {
	line-height: 1;
	height: 3px;

	img {
		line-height: 1;
		vertical-align: text-top;
		width: 100%;
		height: 100%;
	}
}


/*--------------------------------------------------
Header
--------------------------------------------------*/

.header {
	position: relative;
	z-index: 100;

	@include sm-down {
		overflow-x: hidden;
	}

	&.nav-active {
		@include sm-down {
			.desktop-navbar {
				pointer-events: all;
				transform: translate(0);
			}

			.mobile-navbar {
				.nav-toggle {
					.nav-toggle--bars {
						span:first-child {
							transform: translate(1px, 7px) rotate(45deg);
							width: 22px;
						}

						span:nth-child(2) {
							width: 0;
						}

						span:last-child {
							transform: translate(1px, -5px) rotate(-45deg);
							width: 22px;
						}
					}
				}
			}
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;

		@include sm-down {
			padding-top: 7px;
			padding-bottom: 7px;
			padding-right: 7px;
		}
	}

	.logo {
		flex: 0 0 89px;

		img {
			width: 89px;
			height: 45px;

			@include xs-down {
				width: 70px;
				height: 35px;
			}
		}
	}

	.desktop-navbar {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm-down {
			pointer-events: none;
			transform: translate(-115%);
			transition: none;
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			width: calc(100% - 60px);
			z-index: 20;
			background: #fff;
			height: 100vh;
			box-shadow: 10px 0 20px rgba(0, 0, 0, .2);
			overflow-y: auto;
		}

		@media (max-width: 900px) {
			transition: all .2s ease-in-out;
		}

		.navbar-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			padding: 0 15px;

			@include sm-down {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0;
				width: 100%;
			}

			.nav-item {
				font-size: 13px;
				padding: 0 15px;

				@include sm-down {
					padding: 0;
					border-bottom: 1px solid #e0e0e0;
					width: 100%;
				}

				.nav-link {
					color: $tit-color;
					text-decoration: none;
					border: none !important;
					background: transparent;

					&.active {
						@include sm-up {
							background: #fff;
							box-shadow: 0 6px 0 #fff, 0 8px 0 $tertiary-color;
							color: $tertiary-color;
						}
					}

					@include sm-down {
						padding: 18px 15px;
						display: block;
						width: 100%;
						text-align: left;
					}
				}
			}
		}

		.navbar-actions {
			@include sm-down {
				padding: 18px 15px;

				.btn {
					width: 100%;
					padding: 12px;
				}
			}
		}

		.btn {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}

	.mobile-navbar {
		display: none;

		@include sm-down {
			display: flex;
			justify-content: flex-end;
		}

		.nav-item {
			padding: 0 8px;

			.nav-link {
				color: $tertiary-color;
				text-align: center;
				text-decoration: none;
			}

			span {
				display: block;
				text-transform: uppercase;
				font-size: 9px;
				margin-top: 5px;
				line-height: 1;
			}

			.ico {
				display: block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				fill: $tertiary-color;
			}

			.nav-toggle {
				background: none;
				border: none;
				padding: 0;
				text-align: center;
				color: $tertiary-color;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				cursor: pointer;
				text-decoration: none;

				&--bars {
					margin: 0 auto;
					padding-top: 3px;
					position: relative;
					z-index: 1;
					width: 28px;
					height: 20px;

					span {
						border-radius: 1px;
						display: block;
						width: 100%;
						height: 2px;
						background-color: $tertiary-color;
						margin-bottom: 4px;
						margin-top: 0;
						transition: all .2s ease-in-out;
					}
				}

				span {
					display: block;
					text-transform: uppercase;
					font-size: 9px;
					line-height: 1;
				}
			}
		}
	}

}


/*--------------------------------------------------
Subnav
--------------------------------------------------*/

.subnav {
	z-index: 100;
	width: 100%;
	background: #fafafa;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	@include sm-down {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		height: 100vh;
		overflow-y: scroll;
		width: calc(100% - 60px);

		.nav-active & {
			display: block;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		padding: 0;
	}


	.subnav-close {
		display: none;

		@include sm-down {
			position: sticky;
			top: 0;
			display: block;
			width: 100%;
			text-align: left;
			padding: 18px 15px;
			border-bottom: 1px solid $border-color;
			text-decoration: none !important;
			margin: 0;
			text-transform: uppercase;
			font-size: 12px;
			background: $tertiary-color;
			color: $tit-color;
			background: #fafafa;
			z-index: 10;
			box-shadow: 0 3px 6px rgba(0, 0, 0, .15);

			svg {
				width: 12px;
				height: 12px;
				margin: 1px 3px 0 0;
				fill: $tit-color;
			}
		}
	}

	.subnav-col {
		flex: 0 0 33.333%;
		padding: 20px 20px;
		border-right: 1px solid $border-color;

		&:last-child {
			border-right: 0;
		}

		@include sm-down {
			flex: 0 0 50%;
			border: none;
			padding: 0;
		}

		@include xs-down {
			flex: 0 0 100%;
		}


		h3 {
			@include sm-down {
				display: block;
				padding: 18px 15px;
				border-bottom: 1px solid $border-color;
				text-decoration: none !important;
				margin: 0;
				text-transform: uppercase;
				font-size: 14px;
				background: $tertiary-color;
				color: #fff;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			@include md-down {
				display: block;
			}

			li {
				font-size: 13px;
				flex: 0 0 50%;
				line-height: 1.2;

				a {
					position: relative;
					z-index: 1;
					display: inline-block;
					padding: 4px 15px 4px 12px;

					@include sm-down {
						display: block;
						padding: 14px 15px;
						border-bottom: 1px solid $border-color;
						background: #fff;
						text-decoration: none !important;
					}

					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						top: 10px;
						left: 0;
						border-radius: 50%;
						width: 3px;
						height: 3px;
						opacity: .5;
						background: $tertiary-color;

						@include sm-down {
							display: none;
						}
					}
				}

			}
		}
	}
}


.subnav-categorie {
	@include sm-up {
		.container {
			justify-content: center;

			.subnav-col {
				flex: 0 0 40%;

				ul {
					display: flex;
				}
			}
		}
	}
}


.subnav-informazioni {
	@include sm-up {
		.container {
			justify-content: flex-end;

			.subnav-col {
				flex: 0 0 60%;

				ul {
					display: block;
				}
			}
		}
	}
}
