<form class="main-search" name="mainSearch" role="form" novalidate autocomplete="off" #mainSearch="ngForm">
	<!-- DESTINATION -->
	<div class="main-search__col main-search__location" [ngClass]="{ active : tab == tabs.Destination }" (clickOutside)="tab == tabs.Destination ? tab = tabs.None : null">
		<div (click)="tab = tabs.Destination" #tabLocation>
			<label for="main-search--location">Destinazione</label>
			<input placeholder="Cerca località, regione, tipologia o nome hotel" type="text" class="with-reset" id="main-search--location" name="query" [(ngModel)]="model.query" (focus)="model.destination = null; model.query = null" #query>
			<span class="reset" (click)="model.destination = null; model.query = null; query.focus()" [hidden]="!model.query && !model.destination">
				<svg>
					<use xlink:href="#ico-reset"></use>
				</svg>
			</span>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-pin"></use>
				</svg>
			</span>
		</div>
		<!-- LAST DESTINATIONS -->
		<div class="popup-hint popup-hint--last-search popup-hint__destination" #lastSearch *ngIf="!model.query && !model.destination && search.lastDestinations?.length">
			<div class="head">
				<h3>Le tue ultime ricerche</h3>
				<div class="close" (click)="tab = tabs.None">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<destination-hint [destinations]="search.lastDestinations" [height]="46" (selectDestination)="onDestinationSet($event)"></destination-hint>
		</div>
		<!-- AUTOCOMPLETE DESTINATIONS -->
		<div class="popup-hint popup-hint__autocomplete popup-hint__destination" #autocomplete *ngIf="model.query && !model.destination && search.destinations">
			<destination-hint [destinations]="search.destinations" [query]="model.query" [height]="46" (selectDestination)="onDestinationSet($event)"></destination-hint>
		</div>
	</div>
	<!-- DATE -->
	<div class="main-search__col main-search__date" [ngClass]="{ active : tab == tabs.Date }" (clickOutside)="tab == tabs.Date ? tab = tabs.None : null">
		<div class="main-search--trigger" (click)="tab = tabs.Date" #tabDate>
			<label for="main-search--date">Data di partenza</label>
			<input placeholder="Seleziona una data" class="with-reset" disabled type="text" id="main-search--date" [value]="model.startDate | date : 'dd MMM yyyy'">
			<span class="reset" (click)="model.startDate = null; query.focus()" [hidden]="!model.startDate">
				<svg>
					<use xlink:href="#ico-reset"></use>
				</svg>
			</span>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-calendar"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__date">
			<div class="head">
				<h3>Seleziona la data di partenza</h3>
				<div class="close" (click)="tab = tabs.None">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="body">
				<div class="flexible-date">
					<div class="checkbox">
						<label>
							<input checked type="checkbox" name="flexibleDates" [(ngModel)]="model.flexibleDates" />
							<span>Date flessibili +/- 3 giorni?</span>
						</label>
					</div>
				</div>
				<div class="calendar popup-calendar">
					<p-calendar name="startDate" [(ngModel)]="model.startDate" (onSelect)="onDateSelected($event)" [defaultDate]="model.startDate" [inline]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="search.calendar.minYear + ':' + search.calendar.maxYear" [minDate]="search.calendar.minDate" [maxDate]="search.calendar.maxDate" [locale]="search.calendar.it" dateFormat="dd/mm/yy"></p-calendar>
				</div>
			</div>
		</div>
	</div>
	<!-- DURATION -->
	<div class="main-search__col main-search__duration" [ngClass]="{ active : tab == tabs.Duration }" (clickOutside)="tab == tabs.Duration ? tab = tabs.None : null">
		<div class="main-search--trigger" (click)="tab = tabs.Duration" #tabDuration>
			<label for="main-search--duration">Durata viaggio</label>
			<input disabled id="main-search--duration" type="text" class="main-search--duration-input" [value]="model.duration.name">
			<span class="ico">
				<svg>
					<use xlink:href="#ico-clock"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__duration">
			<div class="head">
				<h3>Seleziona la durata del tuo viaggio</h3>
				<div class="close" (click)="tab = tabs.None">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="body">
				<ul class="popup-list">
					<li class="check" *ngFor="let duration of search.durations">
						<div class="radio">
							<label>
								<input class="main-search--duration" type="radio" name="duration" [value]="duration" [(ngModel)]="model.duration" (click)="onDurationSelected($event)" />
								<span>{{duration.name}}</span>
							</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ADULTS -->
	<div class="main-search__col main-search__adults" [ngClass]="{ active : tab == tabs.Adults }" (clickOutside)="tab == tabs.Adults ? tab = tabs.None : null">
		<div class="main-search--trigger" (click)="tab = tabs.Adults" #tabAdults>
			<label for="main-search--adults">Adulti</label>
			<input disabled id="main-search--adults" type="text" [value]="model.adults" #adults>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-adult"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__adults">
			<div class="head">
				<h3>Numero di adulti</h3>
				<div class="close" (click)="tab = tabs.None">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="body">
				<div class="spinner-input">
					<strong>Adulti</strong>
					<p-spinner size="10" readonly name="adults" [(ngModel)]="model.adults" [min]="1" [max]="10"></p-spinner><!-- (onChange)="onTab()" -->
				</div>
			</div>
		</div>
	</div>
	<!-- CHILDS -->
	<div class="main-search__col main-search__childs" [ngClass]="{ active : tab == tabs.Childs }" (clickOutside)="tab == tabs.Childs ? tab = tabs.None : null">
		<div class="main-search--trigger" (click)="tab = tabs.Childs" #tabChilds>
			<label for="main-search--childs">Bambini</label>
			<input disabled id="main-search--childs" type="text" [value]="model.childs" #childs>
			<span class="ico">
				<svg>
					<use xlink:href="#ico-child"></use>
				</svg>
			</span>
		</div>
		<div class="popup-hint popup-hint__childs">
			<div class="head">
				<h3>Numero di bambini</h3>
				<div class="close" (click)="tab = tabs.None">
					<svg>
						<use xlink:href="#ico-close"></use>
					</svg>
				</div>
			</div>
			<div class="body">
				<div class="spinner-input">
					<strong>Bambini</strong>
					<p-spinner size="10" readonly name="childs" [(ngModel)]="model.childs" [min]="0" [max]="4" (onChange)="onChildsChanged()"></p-spinner>
				</div>
				<div class="child-ages">
					<div class="child-age" *ngFor="let child of model.childrens; let index = index">
						<strong>Età bambino {{index}}</strong>
						<div class="custom-select">
							<select dir="rtl" name="{{'age' + index}}" [(ngModel)]="child.age">
								<option *ngFor="let age of search.ages" [ngValue]="age">{{age}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SEARCH -->
	<div class="main-search__col main-search__submit">
		<button type="button" class="btn" (click)="onSubmit()">{{ 'app.search' | translate }}</button>
	</div>
</form>
<landing-breadcrumb-component *ngIf="useBreadcrumbs"></landing-breadcrumb-component>
