<section class="hotel-page right-side">
	<div class="container">
		<!-- MAIN -->
		<div class="hotel-main-content">
			<!-- HEAD -->
			<div class="hotel-head">
				<div class="hotel-info">
					<div class="hotel-name">
						<span>{{page.title}}</span> <span class="stars"><em *ngFor="let star of hotel?.rating?.split('');" [ngClass]="{ superior: star === 'S' }">{{star}}</em></span>
					</div>
					<div class="hotel-location">
						<span class="hotel-region">{{hotel?.location?.avesDstCode}}</span>
						<!-- <span class="hotel-region">Italia Toscana</span>&nbsp;<span class="hotel-town">Radda in Chianti SI</span> -->
					</div>
				</div>
				<ng-container *ngIf="hotel?.trustPilot">
					<div class="hotel-trust" [trustPilot]="hotel?.trustPilot">
					</div>
				</ng-container>
				<button class="add-to-fav" type="button" (click)="wishlist.doToggle(hotel)" [ngClass]="{ active: wishlist.has(hotel) }" *ngIf="hotel">
					<svg class="ico"><use xlink:href="#ico-fav"></use></svg>
				</button>
			</div>
			<!-- SWIPER -->
			<div class="hotel-gallery swiper-container" [swiper]>
				<div class="swiper-wrapper" [fancybox]="fancyboxOptions">
					<div class="swiper-slide" *ngFor="let image of page.images | hotelGallery">
						<a href="{{image.url}}" data-fancybox="gallery">
							<img src="{{image.url}}" alt="{{image.name}}">
						</a>
					</div>
				</div>
				<div class="swiper-button swiper-button-prev"></div>
				<div class="swiper-button swiper-button-next"></div>
			</div>
			<!-- DESCRIPTION -->
			<div class="hotel-desc">
				<ul class="hotel-list">
					<li class="hotel-list-item">
						<svg class="ico">
							<use xlink:href="#ico-calendar"></use>
						</svg>
						<span>{{hotel?.abstract}}</span>
					</li>
					<li class="hotel-list-item">
						<svg class="ico">
							<use xlink:href="#ico-struttura"></use>
						</svg>
						<span>{{hotel?.accomodation}}</span>
					</li>
					<!-- TAGS -->
					<ng-container *ngIf="page.taxonomies">
						<li class="hotel-list-item item-{{item.id}} category-{{item.category}}" *ngFor="let item of page.taxonomies | hotelTaxonomy">
							<svg class="ico">
								<use xlink:href="#ico-fav"></use>
							</svg>
							<span>{{item.name}}</span>
						</li>
					</ng-container>
				</ul>
				<!-- DESKTOP DESCRIPTION -->
				<div class="desktop-description">
					<!-- FEATURES -->
					<ng-container *ngIf="page.features">
						<div class="inclusion hotel-desc-group">
							<div [innerHTML]="page.features[0].description">
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="page.features">
						<div class="readmore-button">
							<button (click)="readmore = !readmore">
								<span *ngIf="!readmore">Leggi di più</span>
								<span *ngIf="readmore">Leggi di meno</span>
							</button>
						</div>
						<div class="readmore-wrap" [ngClass]="{active: readmore}">
							<div class="inclusion hotel-desc-group">
								<div class="readmore-accordion" *ngFor="let feature of page.features | hotelFeature">
									<h2>{{feature.title}}</h2>
									<div [innerHTML]="feature.description"></div>
								</div>
							</div>
						</div>
					</ng-container>
					<!-- LOCATION -->
					<div class="hotel-mapbox" *ngIf="hotel?.location">
						<div class="hotel-mapbox--map">
							<button type="button" (click)="onShowMap()">
								<svg class="ico" viewBox="0 0 32 32">
									<use xlink:href="#ico-pin"></use>
								</svg>
								<img alt="" src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/{{hotel.location.longitude}},{{hotel.location.latitude}},9.0,0,0/300x150@2x?access_token=pk.eyJ1Ijoic3VwYWhmdW5rIiwiYSI6IjE4Zjg1MWMxYzQ3M2RlYTU4OGNlMTc4ODFmOTkyODczIn0.Nusb4DbKb1KnkWWDcZUy-w">
							</button>
						</div>
						<div class="hotel-mapbox--desc">
							<div class="h3">Località e contatti</div>
							<ul>
								<li>
									<svg class="ico" viewBox="0 0 32 32">
										<use xlink:href="#ico-struttura"></use>
									</svg>
									{{page.title}}
								</li>
								<li>
									<svg class="ico ico-pin" viewBox="0 0 32 32">
										<use xlink:href="#ico-pin"></use>
									</svg>
									{{hotel.address.description}}, {{hotel.address.city}}, {{hotel.address.provinceCode}}, {{hotel.address.cap}}
								</li>
								<li>
									<svg class="ico" viewBox="0 0 32 32">
										<use xlink:href="#ico-tel"></use>
									</svg>
									{{hotel.address.phone}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SIDEBAR -->
		<div class="hotel-sidebar">
			<div class="sticky">
				<div class="sidebar-group">
					<div class="spinner-input">
						<strong for="">Adulti</strong>
						<p-spinner size="10" readonly name="adults" [(ngModel)]="model.adults" [min]="1" [max]="10" (onChange)="onAdultsChanged()"></p-spinner>
					</div>
				</div>
				<div class="sidebar-group">
					<div class="spinner-input">
						<strong>Bambini</strong>
						<p-spinner size="10" readonly name="childs" [(ngModel)]="model.childs" [min]="0" [max]="4" (onChange)="onChildsChanged()"></p-spinner>
					</div>
					<div class="child-ages">
						<div class="child-age" *ngFor="let child of model.childrens; let index = $index">
							<strong>Età bambino {{index}}</strong>
							<div class="custom-select">
								<select dir="rtl" name="age" [(ngModel)]="child.age" (change)="onChildsChanged()" [disabled]="busy">
									<option *ngFor="let age of search.ages" [value]="age">{{age}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-group sidebar-group--calendar" *ngIf="calendar.checkins">
					<div class="tit">Data di partenza</div>
					<ng-container *ngIf="calendar.checkins.length === 0">
						nessuna data disponibile
					</ng-container>
					<ng-container *ngIf="calendar.checkins.length > 0">
						<hotel-datepicker (doSelect)="setCheckIn()" [(ngModel)]="booking.checkIn" [availableDates]="calendar.checkins" [disabled]="busy"></hotel-datepicker>
					</ng-container>
				</div>
				<div class="sidebar-group select-nights" *ngIf="calendar.checkouts">
					<div class="tit">Numero di notti</div>
					<ng-container *ngIf="calendar.checkouts.length === 0">
						nessuna opzione disponibile
					</ng-container>
					<ng-container *ngIf="calendar.nights.length > 0">
						<div class="custom-select">
							<select name="nights" [(ngModel)]="booking.nights" (change)="onNightsChanged($event.target.value)" [disabled]="busy">
								<option *ngFor="let value of calendar.nights" [value]="value">{{value}} {{value != 1 ? 'notti' : 'notte'}}</option>
							</select>
						</div>
					</ng-container>
				</div>
				<div *ngIf="booking.options">
					<div class="sidebar-group">
						<div class="tit">Tipologia di camera</div>
						<div class="radio type-{{item.type}}" *ngFor="let item of booking.options.accomodations">
							<label>
								<input type="radio" name="tipologia-camera" value="{{item.code}}" [checked]="item.checked">
								<span>{{item.name}} ({{item.price}}€)</span>
							</label>
						</div>
					</div>
					<div class="sidebar-group">
						<div class="tit">Assicurazione</div>
						<div class="radio type-{{item.type}}" *ngFor="let item of booking.options.extraQuotes">
							<label>
								<input type="radio" name="assicurazione" value="{{item.code}}" [checked]="item.checked">
								<span>{{item.name}} ({{item.price}}€)</span>
							</label>
						</div>
					</div>
					<div class="sidebar-group">
						<div class="tit">Trattamento</div>
						<div class="radio">
							<label>
								<input type="radio" name="trattamento" checked>
								<span>{{hotel?.accomodation}}</span>
							</label>
						</div>
					</div>

				</div>
				<div class="sidebar-group--sticky" *ngIf="!busy">
					<div class="sidebar-group">
						<div class="tit">Totale complessivo</div>
						<div class="edit-row edit-row--total">
							<div>Per {{booking.paxTotal}} persone<br> dal {{booking.checkIn | date : 'shortDate'}} al {{booking.checkOut | date : 'shortDate'}}</div>
							<div class="total-price">{{booking.priceTotal}}€</div>
						</div>
					</div>
					<div class="sidebar-cta">
						<button type="button" class="btn" [routerLink]="'payment' | slugAsync">Prenota il tuo viaggio</button>
						<span class="no-extra">(nessun costo aggiuntivo)</span>
					</div>
				</div>
				<ng-container *ngIf="busy">
					<div class="sidebar-group">
						<div class="loader">Caricamento Offerta <span class="spinner">&nbsp;</span></div>
					</div>
				</ng-container>
			</div>
		</div>
		<!-- MOBILE DESCRIPTION -->
		<div class="mobile-description">
			<!-- FEATURES -->
			<ng-container *ngIf="page.features">
				<div class="inclusion hotel-desc-group">
					<div [innerHTML]="page.features[0].description">
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="page.features">
				<div class="readmore-button">
					<button (click)="readmore = !readmore">
						<span *ngIf="!readmore">Leggi di più</span>
						<span *ngIf="readmore">Leggi di meno</span>
					</button>
				</div>
				<div class="readmore-wrap" [ngClass]="{active: readmore}">
					<div class="inclusion hotel-desc-group">
						<div class="readmore-accordion" *ngFor="let feature of page.features | hotelFeature">
							<h2>{{feature.title}}</h2>
							<div [innerHTML]="feature.description"></div>
						</div>
					</div>
				</div>
			</ng-container>
			<!-- LOCATION -->
			<div class="hotel-mapbox" *ngIf="hotel?.location">
				<div class="hotel-mapbox--map">
					<button type="button" (click)="onShowMap()">
						<svg class="ico" viewBox="0 0 32 32">
							<use xlink:href="#ico-pin"></use>
						</svg>
						<img alt="" src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/{{hotel.location.longitude}},{{hotel.location.latitude}},9.0,0,0/300x150@2x?access_token=pk.eyJ1Ijoic3VwYWhmdW5rIiwiYSI6IjE4Zjg1MWMxYzQ3M2RlYTU4OGNlMTc4ODFmOTkyODczIn0.Nusb4DbKb1KnkWWDcZUy-w">
					</button>
				</div>
				<div class="hotel-mapbox--desc">
					<div class="h3">Località e contatti</div>
					<ul>
						<li>
							<svg class="ico" viewBox="0 0 32 32">
								<use xlink:href="#ico-struttura"></use>
							</svg>
							{{page.title}}
						</li>
						<li>
							<svg class="ico ico-pin" viewBox="0 0 32 32">
								<use xlink:href="#ico-pin"></use>
							</svg>
							{{hotel.address.description}}, {{hotel.address.city}}, {{hotel.address.provinceCode}}, {{hotel.address.cap}}
						</li>
						<li>
							<svg class="ico" viewBox="0 0 32 32">
								<use xlink:href="#ico-tel"></use>
							</svg>
							{{hotel.address.phone}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- TOTAL PRICE MOBILE-->
		<div class="total-price-mobile" *ngIf="booking.options">
			<div class="travel-recap">Per {{booking.paxTotal}} persone - dal {{booking.checkIn | date : 'shortDate'}} al {{booking.checkOut | date : 'shortDate'}} - {{hotel?.accomodation}}</div>
			<div class="total-price-recap">
				<div class="prices">
					<div class="price-pp">
						<span>Prezzo<br>per persona</span>
						<strong>{{booking.priceTotal}}€</strong>
					</div>
					<div class="price-total">
						<span>Prezzo<br>Totale</span>
						<strong>{{booking.priceTotal}}€</strong>
					</div>
				</div>
				<div class="recap-cta">
					<a href="#" class="btn">Prenota subito</a>
				</div>
			</div>
		</div>
	</div>
</section>
