<div class="hotel-datepicker">

	<div class="edit-row">
		<div class="edit-name">
			<button type="button" class="selected-date" (click)="active = !active">{{ngModel | date:'dd MMMM yyyy'}}</button>
		</div>
	</div>
	<div class="calendar popup-calendar" [ngClass]="{ active: active }">
		<p-calendar name="startDate" (onSelect)="onSelect($event); active = false;" (onMonthChange)="onMonthChange($event)" [(ngModel)]="ngModel" [disabledDates]="disabledDates" [inline]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="calendar.minYear + ':' + calendar.maxYear" [minDate]="minDate" [maxDate]="maxDate" [locale]="calendar.it" dateFormat="dd/mm/yy" [defaultDate]="ngModel">
			<ng-template pTemplate="date" let-date>
				<span [ngClass]="getDateClass(date)">{{date.day}}</span>
			</ng-template>
		</p-calendar>
		<div class="popup-calendar--legend">
			<div><span class="ico available"></span> Data disponibile</div>
			<div><span class="ico hurry-up"></span> Ancora pochi posti, affrettati</div>
		</div>
	</div>
</div>
