@import "~scss/variables";

.hotel-datepicker {
	position: relative;
	z-index: 1;
}

.edit-row {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1000;
}

.edit-name {
	display: inline-block;

	input {
		border: 0;
		outline: none;
		max-width: 120px;
		background: transparent;
	}
}

.edit-btn {
	font-size: 11px;
	text-decoration: underline;
}

.popup-calendar {
	width: 100%;
	height: 300px;
	background: white;
	border: 1px solid $primary-color;
}
