@import "~scss/variables";

/*--------------------------------------------------
Hotel Page
--------------------------------------------------*/

.hotel-page {
	padding-top: 40px;
	border-top: 1px solid $border-color;

	@include sm-down {
		padding-top: 10px;
	}

	.container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}
}


/*--------------------------------------------------
Hotel Sidebar
--------------------------------------------------*/

.hotel-sidebar {
	flex: 0 0 310px;
	width: 31px;
	display: block;
	padding: 0 30px 0 15px;

	.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 3px;
		max-height: calc(100vh - 6px);
		overflow-y: auto;
		width: calc(100% + 15px);
		padding-right: 15px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: #f3f3f3;
		}

		&::-webkit-scrollbar-thumb {
			background: #d8d8d8;
		}

	}


	@include sm-down {
		display: none;
	}


	.sidebar-group {
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
		font-size: 13px;
		line-height: 1.2;

		.tit {
			color: $tit-color;
			font-weight: 600;
			margin-bottom: 8px;
			font-size: 15px;
		}

		.edit-row {
			display: flex;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&--total {
				align-items: baseline;
				text-transform: uppercase;
			}

			.edit-name {
				padding-right: 5px;
				text-transform: uppercase;
			}

			.edit-btn {
				font-size: 11px;
				text-decoration: underline;
			}

			.total-price {
				color: $primary-color;
				font-size: 23px;
				line-height: .95;
				font-weight: bold;
				margin-top: -3px;
			}
		}

		.radio {
			text-transform: uppercase;

			&:last-child {
				label {
					margin-bottom: 0;
				}
			}
		}

	}

	.sidebar-cta {
		margin-top: -1px;

		.btn {
			display: block;
			width: 100%;
			padding: 14px;
			text-align: center;
		}

		.no-extra {
			opacity: .8;
			display: inline-block;
			margin-top: 3px;
			font-size: 13px;
		}
	}

}


/*--------------------------------------------------
Hotel Main Content
--------------------------------------------------*/

.hotel-main-content {
	flex-grow: 1;
	flex-basis: calc(100% - 310px);
	width: calc(100% - 310px);
	padding: 0 15px;
}


/*--------------------------------------------------
Hotel Head
--------------------------------------------------*/

.hotel-head {
	padding-right: 40px;
	position: relative;
	z-index: 1;

	.hotel-name {
		color: $tit-color;
		font-size: 26px;
		font-weight: 600;
		line-height: 1;

		span {
			margin-right: 5px;
		}

		@include xs-down {
			font-size: 15px;
		}

		.stars {
			transform: translateY(10px) scale(1.2);
			transform-origin: left top;

			@include xs-down {
				transform: translateY(4px);
			}
		}
	}

	.hotel-location {
		font-size: 13px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-top: 5px;

		@include xs-down {
			font-size: 12px;
		}
	}

	.hotel-trust {
		margin-top: 10px;

		.text {
			display: inline-block;
			margin-left: 4px;
		}
	}

	.add-to-fav {
		position: absolute;
		top: 6px;
		right: -8px;
		display: block;
		background: none;
		color: $primary-color;
		border: none;
		text-align: center;
		cursor: pointer;

		@include xs-down {
			top: 0;
		}

		svg {
			width: 28px;
			height: 28px;
			stroke: $primary-color;
			stroke-width: 2px;
			fill: #fff;
		}
	}
}


/*--------------------------------------------------
Hotel Gallery
--------------------------------------------------*/

.hotel-gallery {
	margin-top: 15px;

	@include xxs-down {
		margin-left: -15px;
		margin-right: -15px;

	}
}


/*--------------------------------------------------
Hotel Desc
--------------------------------------------------*/

.hotel-desc {
	font-size: 14px;

	@include xs-down {
		font-size: 13px;
	}

	h2 {
		font-size: 26px;
		line-height: 1.2;
		color: $tit-color;
		margin-bottom: 10px;
		font-weight: 100;

		@include xs-down {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}


	.hotel-list {
		margin: 0;
		padding: 0;
		list-style: none;

		&-item {
			position: relative;
			z-index: 1;
			padding-left: 26px;
			padding-bottom: 6px;

			@include xs-down {
				padding-left: 20px;
			}

			.ico {
				position: absolute;
				z-index: 1;
				top: 1px;
				left: 0;
				width: 18px;
				height: 18px;
				fill: $text-color;

				@include xs-down {
					width: 14px;
					height: 14px;
					top: 2px;
				}
			}
		}
	}

	.hotel-desc-group {
		margin: 20px 0;
		line-height: 1.7;
		padding-right: 10px;

		@include xxs-down {
			padding-right: 5px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}
}


.readmore-accordion {
	margin-bottom: 30px;

	@include sm-down {
		margin-bottom: 20px;
	}

	&__wrapper {
		overflow: hidden;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 40px;
			left: 0;
			bottom: 0;
			background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
			z-index: 1;
			transition: opacity .4s;
			pointer-events: none;

			@include xxs-down {
				height: 30px;
			}
		}

		&.open,
		&.inactive {
			&:after {
				opacity: 0;
			}
		}
	}

	&__toggler {
		display: block;

		span {
			margin-top: -3px;
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}
}
