@import "~scss/variables";

.hotel-datepicker {
	position: relative;
	z-index: 1;
}

.edit-row {
	margin-bottom: 5px;
	position: relative;
	z-index: 1000;
	position: relative;
	margin-top: -23px;
	text-align: right;
	margin-bottom: 12px;
}

.edit-name {}

.selected-date {
	color: $tit-color;
}

.edit-btn {
	font-size: 11px;
	text-decoration: underline;
}

.popup-calendar {
	background: white;
	width: auto;
	border: 1px solid $border-color;
	margin-bottom: 4px;

	&--legend {
		padding-top: 12px;
		font-size: 9px;
		text-transform: uppercase;

		div {
			padding-top: 5px;
		}

		span.ico {
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 2px solid rgba(#94b439, .7);
			background: #f4f7eb;
			margin-right: 3px;
			vertical-align: middle;
			margin-top: -3px;

			&.hurry-up {
				border-color: rgba(#f7d436, .7);
				background-color: #fefbee;
			}

			&.not-available {
				border-color: #f86c55;
				background-color: #fff5f3;
			}
		}
	}
}
