<section class="hotel-page" *ngIf="hotel">
	<div class="container">
		<!-- SIDEBAR -->
		<div class="hotel-sidebar">
			<div class="sticky">
				<div class="sidebar-group">
					<div class="spinner-input">
						<strong for="">Adulti</strong>
						<p-spinner size="10" readonly name="adults" [(ngModel)]="search.model.adults" [min]="1" [max]="10" (onChange)="onAdultsChanged()"></p-spinner>
					</div>
				</div>
				<div class="sidebar-group">
					<div class="spinner-input">
						<strong>Bambini</strong>
						<p-spinner size="10" readonly name="childs" [(ngModel)]="search.model.childs" [min]="0" [max]="4" (onChange)="onChildsChanged()"></p-spinner>
					</div>
					<div class="child-ages">
						<div class="child-age" *ngFor="let child of search.model.childrens; let index = $index">
							<strong>Età bambino {{index}}</strong>
							<div class="custom-select">
								<select dir="rtl" name="age" [(ngModel)]="child.age" (change)="onChildsChanged()" [disabled]="busy">
									<option *ngFor="let age of search.ages" [value]="age">{{age}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-group" *ngIf="calendar.checkins">
					<div class="tit">Data di partenza</div>
					<ng-container *ngIf="calendar.checkins.length === 0">
						nessuna data disponibile
					</ng-container>
					<ng-container *ngIf="calendar.checkins.length > 0">
						<hotel-datepicker (doSelect)="setCheckIn()" [(ngModel)]="booking.checkIn" [availableDates]="calendar.checkins" [disabled]="busy"></hotel-datepicker>
					</ng-container>
				</div>
				<div class="sidebar-group select-nights" *ngIf="calendar.checkouts">
					<div class="tit">Numero di notti</div>
					<ng-container *ngIf="calendar.checkouts.length === 0">
						nessuna opzione disponibile
					</ng-container>
					<ng-container *ngIf="calendar.nights.length > 0">
						<div class="custom-select">
							<select name="nights" [(ngModel)]="booking.nights" (change)="onNightsChanged($event.target.value)" [disabled]="busy">
							<option *ngFor="let value of calendar.nights" [value]="value">{{value}} {{value > 1 ? 'notti' : 'notte'}}</option>
						</select>
						</div>
					</ng-container>
				</div>
				<!--
				<div class="sidebar-group" *ngIf="calendar.checkouts">
					<div class="tit">Partenza</div>
					<ng-container *ngIf="calendar.checkouts.length === 0">
						nessuna data disponibile
					</ng-container>
					<ng-container *ngIf="calendar.checkouts.length > 0">
						<hotel-datepicker (doSelect)="setCheckOut()" [(ngModel)]="booking.checkOut" [availableDates]="calendar.checkouts" [disabled]="busy"></hotel-datepicker>
					</ng-container>
				</div>
				-->
				<div *ngIf="booking.options">
					<!--
					<div class="sidebar-group">
						<div class="tit">Ospiti</div>
						<div class="edit-row">
							<div class="edit-name">
								2 persone
							</div>
							<button class="edit-btn">modifica</button>
						</div>
					</div>
					-->
					<!--
					<div class="sidebar-group">
						<div class="tit">Periodo</div>
						<div class="edit-row">
							<div class="edit-name">
								{{booking.daysTotal}} notti
							</div>
							<button class="edit-btn">modifica</button>
						</div>
						<div class="edit-row">
							<div class="edit-name">
								{{booking.checkIn | date : 'shortDate'}} - {{booking.checkOut | date : 'shortDate'}}
							</div>
							<button class="edit-btn">modifica</button>
						</div>
					</div>
					-->
					<div class="sidebar-group">
						<div class="tit">
							Tipologia di camera
						</div>
						<div class="radio type-{{item.type}}" *ngFor="let item of booking.options.accomodations">
							<label>
								<input type="radio" name="tipologia-camera" value="{{item.code}}" [checked]="item.checked">
								<span>{{item.name}} ({{item.price}}€)</span>
							</label>
						</div>
					</div>
					<div class="sidebar-group">
						<div class="tit">
							Assicurazione
						</div>
						<div class="radio type-{{item.type}}" *ngFor="let item of booking.options.extraQuotes">
							<label>
								<input type="radio" name="assicurazione" value="{{item.code}}" [checked]="item.checked">
								<span>{{item.name}} ({{item.price}}€)</span>
							</label>
						</div>
						<!--
						<div class="radio">
							<label>
							<input type="radio" name="assicurazione" checked>
							<span>ANNULLAMENTO (29.92€)</span>
						</label>
						</div>
						<div class="radio">
							<label>
							<input type="radio" name="assicurazione">
							<span>medico e bagaglio (8.40€ a persona)</span>
						</label>
						</div>
						-->
					</div>
					<div class="sidebar-group">
						<div class="tit">
							Trattamento
						</div>
						<div class="radio">
							<label>
							<input type="radio" name="trattamento" checked>
							<span>{{hotel.accomodation}}</span>
						</label>
						</div>
					</div>
					<div class="sidebar-group--sticky">
						<div class="sidebar-group">
							<div class="tit">
								Totale complessivo
							</div>
							<div class="edit-row edit-row--total">
								<div>
									Per {{booking.paxTotal}} persone<br> dal {{booking.checkIn | date : 'shortDate'}} al {{booking.checkOut | date : 'shortDate'}}
								</div>
								<div class="total-price">
									{{booking.priceTotal}}€
								</div>
							</div>
						</div>
						<div class="sidebar-cta">
							<a href="#" class="btn">Prenota il tuo viaggio</a>
							<span class="no-extra">(nessun costo aggiuntivo)</span>
						</div>
					</div>
				</div>
				<ng-container *ngIf="busy">
					<div class="sidebar-group">
						<div class="loader">Caricamento Offerta <span class="spinner">&nbsp;</span></div>
					</div>
				</ng-container>
			</div>
		</div>
		<!-- MAIN -->
		<div class="hotel-main-content">
			<!-- HEAD -->
			<div class="hotel-head">
				<div class="hotel-info">
					<div class="hotel-name">
						<span>{{page.title}}</span> <span class="stars"><em *ngFor="let star of hotel.rating?.split('');" [ngClass]="{ superior: star === 'S' }">{{star}}</em></span>
					</div>
					<div class="hotel-location">
						<span class="hotel-region">{{hotel.location?.avesDstCode}}</span>
						<!-- <span class="hotel-region">Italia Toscana</span>&nbsp;<span class="hotel-town">Radda in Chianti SI</span> -->
					</div>
				</div>
				<ng-container *ngIf="hotel.trustPilot">
					<span [trustPilot]="hotel.trustPilot"></span>
				</ng-container>
				<button class="add-to-fav" type="button" (click)="wishlist.doToggle(hotel)" [ngClass]="{ active: wishlist.has(hotel) }">
					<svg class="ico"><use xlink:href="#ico-fav"></use></svg>
				</button>
			</div>
			<!-- SWIPER -->
			<div class="hotel-gallery swiper-container" [swiper]>
				<div class="swiper-wrapper" [fancybox]="fancyboxOptions">
					<div class="swiper-slide" *ngFor="let image of page.images">
						<a href="{{image.url}}" data-fancybox="gallery">
							<img src="{{image.url}}" alt="{{image.name}}">
						</a>
					</div>
				</div>
				<div class="swiper-button swiper-button-prev"></div>
				<div class="swiper-button swiper-button-next"></div>
			</div>
			<!-- DESCRIPTION -->
			<div class="hotel-desc">
				<ul class="hotel-list">
					<li class="hotel-list-item">
						<svg class="ico">
							<use xlink:href="#ico-calendar"></use>
						</svg>
						<span>{{hotel.abstract}}</span>
					</li>
					<li class="hotel-list-item">
						<svg class="ico">
							<use xlink:href="#ico-struttura"></use>
						</svg>
						<span>{{hotel.accomodation}}</span>
					</li>
					<!-- TAGS -->
					<ng-container *ngIf="page.taxonomies">
						<li class="hotel-list-item item-{{item.id}} category-{{item.category}}" *ngFor="let item of page.taxonomies | hotelTaxonomy">
							<svg class="ico">
								<use xlink:href="#ico-fav"></use>
							</svg>
							<span>{{item.name}}</span>
						</li>
					</ng-container>
				</ul>
				<!-- FEATURES -->
				<ng-container *ngIf="page.features">
					<div class="inclusion hotel-desc-group">
						<div class="readmore-accordion" *ngFor="let feature of page.features | hotelFeature">
							<h2>{{feature.title}}</h2>
							<div class="readmore-accordion__wrapper">
								<div class="readmore-accordion__sizer" [innerHTML]="feature.description"></div>
							</div>
							<button type="button" class="readmore-accordion__toggler"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Leggi tutto</span> <span>Chiudi</span></button>
						</div>
					</div>
				</ng-container>
				<!--
				<div class="inclusion hotel-desc-group">
					<div class="readmore-accordion">
						<h2>La quota comprende</h2>
						<div class="readmore-accordion__wrapper">
							<div class="readmore-accordion__sizer">
								<p><strong>Pensione completa</strong> con colazione, pranzo e cena a buffet, <strong>bevande ai pasti</strong> (acqua e vino della casa), <strong>utilizzo della piscine</strong> attrezzate con lettini e ombrelloni secondo disponibilità, <strong>animazione diurna e serale</strong>, <strong>mini club</strong> ad orari prestabiliti, navetta da/per la spiaggia (per soggiorni fino al 09/09), <strong>servizio spiaggia </strong>con 1 ombrellone e 2 lettini a camera (per soggiorni fino al 09/09), parcheggio secondo disponibilità, connessione Wi-Fi nelle aree comuni, culla per infant 0-3 anni su richiesta al momento della prenotazione secondo disponibilità.</p>
							</div>
						</div>
						<a href="" class="readmore-accordion__toggler"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Leggi tutto</span> <span>Chiudi</span> </a>
					</div>
					<div class="readmore-accordion">
						<h2>La quota non comprende</h2>
						<div class="readmore-accordion__wrapper">
							<div class="readmore-accordion__sizer">
								<p>Eventuale tassa di soggiorno applicata in loco, quota per animali domestici di piccola taglia (10 euro al giorno da pagare in loco), extra in genere e tutto quanto non specificato nel paragrafo "La quota comprende".</p>
							</div>
						</div>
						<a href="" class="readmore-accordion__toggler"> <i class="fa fa-angle-down" aria-hidden="true"></i> <span>Leggi tutto</span> <span>Chiudi</span> </a>
					</div>
					<div class="readmore-accordion">
						<h2>Riduzioni</h2>
						<div class="readmore-accordion__wrapper">
							<div class="readmore-accordion__sizer">
								<p><strong>Riduzioni 3° / 4° letto</strong>&nbsp;(valide con almeno 2 persone paganti quota intera)&nbsp; per prenotazioni fino al 05/08 e dal 26/08 in poi:<br> • 3&nbsp;- 13&nbsp;anni non compiuti&nbsp;<strong>GRATIS</strong>&nbsp;in 3° letto; 50% in 4° letto<br> • da 13&nbsp;anni in poi 25%</p>
								<p>Infant 0-3 anni non compiuti GRATIS nel letto con i genitori o in culla dell'hotel secondo disponibilità, su richiesta al momento della prenotazione.&nbsp;</p>
								<p><strong>Riduzioni 3° / 4° lett</strong>o&nbsp;(valide con almeno 2 persone paganti quota intera) &nbsp;per prenotazioni&nbsp;dal&nbsp;05/08 al 26/08:<br> • 3&nbsp;- 13&nbsp;anni non compiuti 50%<br> • da 13&nbsp;anni in poi 25%</p>
								<p>Infant 0-3 anni non compiuti GRATIS nel letto con i genitori o in culla dell'hotel secondo disponibilità, su richiesta al momento della prenotazione.&nbsp;</p>
							</div>
						</div>
						<a href="" class="readmore-accordion__toggler"> <i class="fa fa-angle-down" aria-hidden="true"></i> <span>Leggi tutto</span> <span>Chiudi</span> </a>
					</div>
					<div class="readmore-accordion">
						<h2>Orario check-in/out</h2>
						<div class="readmore-accordion__wrapper">
							<div class="readmore-accordion__sizer">
								<p>Check-in dalle ore 17:00<br> Check-out entro ore 10:00</p>
							</div>
						</div>
						<a href="" class="readmore-accordion__toggler"><i class="fa fa-angle-down" aria-hidden="true"></i> <span>Leggi tutto</span> <span>Chiudi</span> </a>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
</section>
