@import "~scss/variables";

/*--------------------------------------------------
Hotel Page
--------------------------------------------------*/

.hotel-page {
	padding-top: 20px;
	border-top: 1px solid $border-color;

	@include sm-down {
		padding-top: 10px;
	}

	.container {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include xs-down {
			margin-bottom: 0;
			padding-left: 0;
			display: block;
		}
	}

}


/*--------------------------------------------------
Hotel Sidebar
--------------------------------------------------*/
.hotel-sidebar {
	flex: 0 0 320px;
	width: 320px;
	display: block;
	padding: 0 30px 0 15px;
	z-index: 10;

	@media print {
		display: none !important;
	}

	@include xs-down {
		float: 0 0 100%;
		width: 100%;
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		width: 100%;
		background: #fafafa;
		margin: 10px 0 30px;
		width: auto;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.sticky {
		width: calc(100% + 15px);
		padding-right: 10px;
		z-index: 10;
		background: #fafafa;
		box-shadow: -10px 0 0 #fafafa;

		@include xs-down {
			padding-right: 0;
			width: 100%;
		}

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: #f3f3f3;
		}

		&::-webkit-scrollbar-thumb {
			background: #d8d8d8;
		}

		&>.sidebar-group:first-child {
			border-top: none;
		}
	}

	.sidebar-group {
		padding: 10px 12px;
		border-top: 1px solid #e8e8e8;
		font-size: 13px;
		line-height: 1.2;
		margin-left: -10px;
		margin-right: -10px;

		@include xs-down {
			padding: 15px;
			margin-left: 0;
			margin-right: 0;
		}

		.custom-select {
			margin-bottom: 0;

			&:before {
				top: 16px !important;
				right: 13px !important;
			}

			select {
				background: #fff;
				appearance: none;
				padding: 10px 25px 10px 12px !important;
				background: #fff !important;
			}
		}

		.tit {
			color: $tit-color;
			font-weight: 600;
			margin-bottom: 8px;
			font-size: 15px;
		}

		.edit-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&--total {
				font-size: 11px;
				text-transform: uppercase;
			}

			.edit-name {
				padding-right: 5px;
				text-transform: uppercase;
			}

			.edit-btn {
				font-size: 11px;
				text-decoration: underline;
			}

			.total-price {
				color: $primary-color;
				font-size: 23px;
				line-height: .95;
				font-weight: bold;
			}
		}

		.radio {
			text-transform: uppercase;
			padding-bottom: 2px;

			&:last-child {
				label {
					margin-bottom: 0;
				}
			}
		}

		.custom-select {
			margin-bottom: 5px;
		}

		.spinner-input {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;

			strong {
				color: #062638;
				font-weight: 600;
				font-size: 15px;
			}
		}

		.child-ages {

			.child-age {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 10px;

				strong {
					font-weight: normal;
					font-size: 13px;
				}

				select {
					background-color: transparent;
					appearance: none;
					border: 1px solid #e0e0e0;
					padding: 5px 25px 5px 6px;
					box-shadow: none;
					outline: none;
				}
			}
		}

		&__secondary {
			padding: 5px 0;
			margin-bottom: 10px;
			border-bottom: 1px solid $border-color;

			.btn {
				margin: 10px 0;
			}

		}
	}

	.select-nights {
		.custom-select {
			display: block;
			width: 100%;

			select {
				width: 100%;
				background-color: transparent;
				appearance: none;
				border: 1px solid #e0e0e0;
				padding: 5px 25px 5px 6px;
				box-shadow: none;
				outline: none;
			}
		}
	}

	.sidebar-group--sticky {
		position: relative;
		position: sticky;
		bottom: 0;
		z-index: 10;
		background: #fff;
		border-top: 1px solid #e0e0e0;
		margin-top: 2px;
		background: $highlight-bg;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 10px;

		@include xs-down {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			width: auto;
			display: block;
			background: url('/assets/img/top.png') no-repeat center;
			background-size: 100% 3px;
		}
	}

	.sidebar-cta {
		margin-top: -1px;

		.btn {
			display: block;
			width: 100%;
			padding: 14px;
			text-align: center;
			transition: opacity ease-in-out 350ms;

			&:disabled {
				opacity: 0.6;
				pointer-events: none;
			}
		}

		.no-extra {
			opacity: .8;
			display: inline-block;
			margin-top: 3px;
			font-size: 11px;
			margin-left: 10px;
		}
	}

}


.expired-offer {
	padding: 15px;
	background: #fafafa;

	.h2 {
		font-size: 26px;
		line-height: 1.2;
		color: $tit-color;
		margin-bottom: 10px;
		font-weight: 100;

		@include xs-down {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	.btn {
		margin-right: 4px;
	}

	.btn+.btn {
		margin-top: 10px;
	}
}


.total-price-mobile {
	position: relative;
	position: sticky;
	bottom: 0;
	z-index: 10;
	background: #fff;
	border-top: 1px solid #e0e0e0;
	margin-top: -1px;
	background: $highlight-bg;
	padding: 10px 15px 8px;
	font-size: 11px;
	line-height: 1.2;

	@media print {
		display: block !important;
		position: static !important;
		width: 100%;

		&:before,
		&:after {
			display: none !important;
		}
	}

	@include xs-up {
		display: none;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: url('/assets/img/top.png') no-repeat center;
		background-size: 100% 3px;
	}

	&:after {
		top: auto;
		bottom: -1px;
	}

	.total-price-recap {
		border-top: 1px solid rgba(0, 0, 0, .1);
		padding-top: 8px;
		margin-top: 8px;
		display: flex;
		justify-content: space-between;
	}

	.prices {
		width: 50%;
		flex: 1 1 50%;
		max-width: 50%;
		display: flex;
		justify-content: space-between;

		&>div {
			width: 50%;
			flex: 1 0 50%;
			max-width: 50%;
			padding-right: 10px;

			span {
				text-transform: uppercase;
				font-size: 8px;
				display: block;
			}

			strong {
				font-size: 16px;
			}
		}

		.price-pp {
			color: $primary-color;
		}
	}

	.recap-cta {
		width: 50%;
		flex: 1 1 50%;
		max-width: 50%;

		.btn {
			width: 100%;
			padding-top: 11px;
			padding-bottom: 11px;
			text-align: center;
			font-size: 13px;
			transition: opacity ease-in-out 350ms;

			&:disabled {
				opacity: 0.6;
				pointer-events: none;
			}
		}
	}
}

/*--------------------------------------------------
Hotel Main Content
--------------------------------------------------*/
.hotel-main-content {
	padding: 0 15px;
	flex: 0 0 100%;
	max-width: calc(100% - 375px);

	@include sm-down {
		flex: 0 1 100%;
		width: calc(100% - 375px);
		max-width: 100%;
	}

	@include xs-down {
		flex: 0 0 100%;
		width: 100%;
	}

	@media print {
		flex: 0 0 100%;
		width: 100%;
	}
}

/*--------------------------------------------------
Hotel Head
--------------------------------------------------*/
.hotel-head {
	padding-right: 40px;
	position: relative;
	z-index: 1;

	.hotel-name {
		color: $tit-color;
		font-size: 26px;
		font-weight: 600;
		line-height: 1;

		span {
			margin-right: 5px;
		}

		@include xs-down {
			font-size: 15px;
		}

		.stars {
			transform: translateY(10px) scale(1.2);
			transform-origin: left top;

			@include xs-down {
				transform: translateY(4px);
			}
		}
	}

	.hotel-location {
		font-size: 13px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-top: 5px;

		@include xs-down {
			font-size: 12px;
		}
	}

	.add-to-fav {
		position: absolute;
		top: 6px;
		right: -8px;
		display: block;
		background: none;
		color: $primary-color;
		border: none;
		text-align: center;
		cursor: pointer;
		text-decoration: none !important;

		@media print {
			display: none !important;
		}

		@include xs-down {
			top: 0;
		}

		svg {
			width: 28px;
			height: 28px;
			stroke: $primary-color;
			stroke-width: 2px;
			fill: #fff;
		}

		&.active {
			svg {
				fill: $primary-color;
			}
		}
	}
}

/*--------------------------------------------------
Hotel Abstract
--------------------------------------------------*/
.hotel-abstract {
	margin: 15px 0 15px;
	padding: 25px 0 10px 0;
	border-top: 1px solid $border-color;
}

/*--------------------------------------------------
Hotel Gallery
--------------------------------------------------*/
.hotel-gallery {
	overflow: hidden;

	@include sm-down {
		margin-top: 15px;
	}

	@include xxs-down {
		margin-left: -15px;
		margin-right: -15px;

	}
}

/*--------------------------------------------------
Hotel Desc
--------------------------------------------------*/
.desktop-description {
	display: block;

	@include xs-down {
		display: none;
	}
}

.mobile-description {
	display: none;
	padding: 0 15px 30px;

	@include xs-down {
		display: block;
	}

}

.hotel-desc {
	font-size: 14px;

	@include xs-down {
		font-size: 13px;
	}

	h2 {
		font-size: 26px;
		line-height: 1.2;
		color: $tit-color;
		margin-bottom: 10px;
		font-weight: 100;

		@include xs-down {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	h3 {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 8px;
		color: $tertiary-color;
	}

	.hotel-list {
		margin: 0;
		padding: 0;
		list-style: none;

		&-item {
			position: relative;
			z-index: 1;
			padding-left: 26px;
			padding-bottom: 6px;

			@include xs-down {
				padding-left: 20px;
			}

			.ico {
				position: absolute;
				z-index: 1;
				top: 1px;
				left: 0;
				width: 18px;
				height: 18px;
				fill: $text-color;

				@include xs-down {
					width: 14px;
					height: 14px;
					top: 2px;
				}
			}
		}
	}

	.hotel-desc-group {
		margin: 20px 0;
		line-height: 1.7;
		padding-right: 10px;

		@include xxs-down {
			padding-right: 5px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.readmore-button {
		@media print {
			display: none !important;
		}
	}
}

.hotel-page {
	.hotel-head {
		.add-to-fav {
			right: 0;
			padding-right: 0;
		}
	}
}

.hotel-description-cols {
	display: flex;
	flex-wrap: wrap;

	.hotel-plus {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 20px;
		border-right: 1px solid $border-color;

		@include sm-down {
			flex: 0 0 100%;
			max-width: none;
			width: 100%;
			padding-bottom: 20px;
			border-right: 0;
		}
	}

	.hotel-inclusive {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 0 0 20px;
		font-size: 12px;

		@include sm-down {
			flex: 0 0 100%;
			max-width: 100%;
			width: 100%;
			padding-left: 0;
		}


	}
}

.hotel-tabs {
	margin: 40px 0 0;

	@include xs-down {
		margin: 20px 0 0;
	}
}

.hotel-mapbox {
	border-top: 1px solid $border-color;
	padding: 20px 0 0 0;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;

	@include xs-down {
		margin-bottom: 0;
		border-top: none;
		padding-top: 0;
	}

	&--map {
		flex: 0 0 36%;
		width: 36%;

		@include sm-down {
			flex: 0 0 50%;
			width: 50%;
		}

		@include xxs-down {
			flex: 0 0 100%;
			width: 100%;
			margin-bottom: 10px;
		}

		button {
			display: block;
			overflow: hidden;
			height: 0;
			width: 100%;
			padding-bottom: 42%;
			position: relative;
			z-index: 1;

			img {
				position: absolute;
				z-index: 0;
				top: 50%;
				left: 50%;
				width: 100%;
				height: auto;
				transform: translate(-50%, -50%);
			}

			.ico {
				width: 36px;
				height: auto;
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				fill: $primary-color;
				stroke: #fff;
				stroke-width: 2px;
			}
		}
	}

	&--desc {
		flex: 1 0 64%;
		max-width: 64%;
		align-items: flex-start;

		@include sm-down {
			flex: 0 0 50%;
			width: 50%;
		}

		@include xxs-down {
			flex: 0 0 100%;
			width: 100%;
			padding: 10px 10px 10px 0;
		}

		.h3 {
			font-size: 21px;
			line-height: 1.2;
			color: $tit-color;
			margin-bottom: 14px;
			font-weight: 100;
			padding-top: 2px;

			@include sm-down {
				font-size: 18px;
				margin-bottom: 12px;
				padding-top: 0;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				z-index: 1;
				padding-left: 20px;
				font-size: 13px;
				padding-bottom: 2px;

				.ico {
					position: absolute;
					z-index: 1;
					top: 3px;
					left: 0;
					width: 14px;
					height: auto;
					fill: $text-color;
				}

				.ico-pin {
					fill: none;
					stroke: $text-color;
					stroke-width: 3px;
				}
			}
		}
	}

	.hotel-mapbox--map+.hotel-mapbox--desc {
		padding: 0 10px 0 20px;
	}
}

/*--------------------------------------------------
Readmore
--------------------------------------------------*/
.readmore-button {
	display: none;
}

.readmore-wrap {
	&.active {
		.readmore-accordion {
			&.active {
				height: auto;
				overflow: none;

				&:before {
					display: none;
				}
			}
		}
	}

	.readmore-accordion {
		&.active {
			position: relative;
			z-index: 1;
			overflow: hidden;
			height: 44px;

			@media print {
				height: auto;
				overflow: visible;
			}

			&:before {
				content: '';
				width: 100%;
				height: 40px;
				background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
				position: absolute;
				bottom: 0;
				left: 0;

				@media print {
					display: none;
				}
			}

			&+.readmore-button {
				margin-top: 0px;
				display: block;
				margin-bottom: 15px;
			}
		}
	}
}

/*--------------------------------------------------
Table
--------------------------------------------------*/
[p-tabpanel] table {
	width: 100%;
	margin-bottom: 20px;
	vertical-align: middle;
	line-height: 1;
}
