@import "~scss/variables";

/*--------------------------------------------------
Hotel Page
--------------------------------------------------*/

.hotel-page {
	padding-top: 20px;
	border-top: 1px solid $border-color;

	@include sm-down {
		padding-top: 10px;
	}

	.container {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
		padding-left: 310px;

		@include xs-down {
			margin-bottom: 0;
			padding-left: 0;
		}
	}
}


/*--------------------------------------------------
Hotel Sidebar
--------------------------------------------------*/

.hotel-sidebar {
	width: 310px;
	display: block;
	padding: 0 30px 0 15px;
	position: absolute;
	z-index: 10;
	top: 3px;
	left: 0;

	.sticky {
		width: calc(100% + 15px);
		padding-right: 15px;
		z-index: 10;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: #f3f3f3;
		}

		&::-webkit-scrollbar-thumb {
			background: #d8d8d8;
		}

	}


	@include xs-down {
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		width: 100%;
	}


	.sidebar-group {
		padding: 10px;
		border-bottom: 1px solid $border-color;
		font-size: 13px;
		line-height: 1.2;

		@include xs-down {
			padding-left: 0;
			padding-right: 0;
		}

		.tit {
			color: $tit-color;
			font-weight: 600;
			margin-bottom: 8px;
			font-size: 15px;
		}

		.edit-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&--total {
				font-size: 11px;
				text-transform: uppercase;
			}

			.edit-name {
				padding-right: 5px;
				text-transform: uppercase;
			}

			.edit-btn {
				font-size: 11px;
				text-decoration: underline;
			}

			.total-price {
				color: $primary-color;
				font-size: 23px;
				line-height: .95;
				font-weight: bold;
			}
		}

		.radio {
			text-transform: uppercase;

			&:last-child {
				label {
					margin-bottom: 0;
				}
			}
		}

		.spinner-input {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;

			strong {
				color: #062638;
				font-weight: 600;
				font-size: 15px;
			}
		}

		.child-ages {

			.child-age {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 10px;

				strong {
					font-weight: normal;
					font-size: 13px;
				}

				select {
					background-color: transparent;
					appearance: none;
					border: 1px solid #e0e0e0;
					padding: 5px 25px 5px 6px;
					box-shadow: none;
					outline: none;
				}
			}
		}
	}

	.select-nights {
		.custom-select {
			display: block;
			width: 100%;

			select {
				width: 100%;
				background-color: transparent;
				appearance: none;
				border: 1px solid #e0e0e0;
				padding: 5px 25px 5px 6px;
				box-shadow: none;
				outline: none;
			}
		}
	}

	.sidebar-group--sticky {
		position: sticky;
		bottom: 0;
		z-index: 10;
		background: #fff;
		border-top: 1px solid #e0e0e0;
		margin-top: -1px;
		background: #fffedd;

		@include xs-down {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: url('/assets/img/top.png') no-repeat center;
			background-size: 100% 3px;
		}
	}

	.sidebar-cta {
		margin-top: -1px;
		margin-left: 10px;
		margin-right: 10px;

		.btn {
			display: block;
			width: 100%;
			padding: 14px;
			text-align: center;
		}

		.no-extra {
			opacity: .8;
			display: inline-block;
			margin-top: 3px;
			font-size: 11px;
			margin-left: 10px;
		}
	}

	.loader {
		display: block;
		position: relative;
		width: 100%;
		padding: 14px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;

		background: linear-gradient(229deg, #f47c22, #1677c0);
		background-size: 400% 400%;

		animation: loading 5s ease infinite;

		.spinner {
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
		}

	}

}


.total-price-mobile {
	position: sticky;
	bottom: 0;
	z-index: 10;
	background: #fff;
	border-top: 1px solid #e0e0e0;
	margin-top: -1px;
	background: #fffedd;
	padding: 10px 15px 8px;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 11px;
	line-height: 1.2;

	@include xs-up {
		display: none;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: url('/assets/img/top.png') no-repeat center;
		background-size: 100% 3px;
	}

	.total-price-recap {
		border-top: 1px solid rgba(0, 0, 0, .1);
		padding-top: 8px;
		margin-top: 8px;
		display: flex;
		justify-content: space-between;
	}

	.prices {
		width: 50%;
		flex: 1 1 50%;
		display: flex;
		justify-content: space-between;

		&>div {
			width: 50%;
			flex: 1 0 50%;
			padding-right: 10px;

			span {
				text-transform: uppercase;
				font-size: 8px;
				display: block;
			}

			strong {
				font-size: 16px;
			}
		}

		.price-pp {
			color: $primary-color;
		}
	}

	.recap-cta {
		width: 50%;
		flex: 1 1 50%;

		.btn {
			width: 100%;
			padding-top: 11px;
			padding-bottom: 11px;
			text-align: center;
			font-size: 13px;
		}
	}
}


/*--------------------------------------------------
Hotel Main Content
--------------------------------------------------*/

.hotel-main-content {
	padding: 0 15px;
}


/*--------------------------------------------------
Hotel Head
--------------------------------------------------*/

.hotel-head {
	padding-right: 40px;
	position: relative;
	z-index: 1;

	.hotel-name {
		color: $tit-color;
		font-size: 26px;
		font-weight: 600;
		line-height: 1;

		span {
			margin-right: 5px;
		}

		@include xs-down {
			font-size: 15px;
		}

		.stars {
			transform: translateY(10px) scale(1.2);
			transform-origin: left top;

			@include xs-down {
				transform: translateY(4px);
			}
		}
	}

	.hotel-location {
		font-size: 13px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-top: 5px;

		@include xs-down {
			font-size: 12px;
		}
	}

	.add-to-fav {
		position: absolute;
		top: 6px;
		right: -8px;
		display: block;
		background: none;
		color: $primary-color;
		border: none;
		text-align: center;
		cursor: pointer;
		text-decoration: none !important;

		@include xs-down {
			top: 0;
		}

		svg {
			width: 28px;
			height: 28px;
			stroke: $primary-color;
			stroke-width: 2px;
			fill: #fff;
		}

		&.active {
			svg {
				fill: $primary-color;
			}
		}
	}
}


/*--------------------------------------------------
Hotel Gallery
--------------------------------------------------*/

.hotel-gallery {
	margin-top: 15px;

	@include xxs-down {
		margin-left: -15px;
		margin-right: -15px;

	}
}


/*--------------------------------------------------
Hotel Desc
--------------------------------------------------*/

.hotel-desc {
	font-size: 14px;

	@include xs-down {
		font-size: 13px;
	}

	h2 {
		font-size: 26px;
		line-height: 1.2;
		color: $tit-color;
		margin-bottom: 10px;
		font-weight: 100;

		@include xs-down {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}


	.hotel-list {
		margin: 0;
		padding: 0;
		list-style: none;

		&-item {
			position: relative;
			z-index: 1;
			padding-left: 26px;
			padding-bottom: 6px;

			@include xs-down {
				padding-left: 20px;
			}

			.ico {
				position: absolute;
				z-index: 1;
				top: 1px;
				left: 0;
				width: 18px;
				height: 18px;
				fill: $text-color;

				@include xs-down {
					width: 14px;
					height: 14px;
					top: 2px;
				}
			}
		}
	}

	.hotel-desc-group {
		margin: 20px 0;
		line-height: 1.7;
		padding-right: 10px;

		@include xxs-down {
			padding-right: 5px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}
}


.readmore-accordion {
	margin-bottom: 30px;

	@include sm-down {
		margin-bottom: 20px;
	}

	&__wrapper {
		overflow: hidden;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 40px;
			left: 0;
			bottom: 0;
			background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
			z-index: 1;
			transition: opacity .4s;
			pointer-events: none;

			@include xxs-down {
				height: 30px;
			}
		}

		&.open,
		&.inactive {
			&:after {
				opacity: 0;
			}
		}
	}

	&__toggler {
		display: block;

		span {
			margin-top: -3px;
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}

}

.hotel-page {
	.hotel-head {
		.add-to-fav {
			right: 0;
			padding-right: 0;
		}
	}
}




@-webkit-keyframes loading {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 51%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes loading {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 51%
	}
	100% {
		background-position: 0% 50%
	}
}

$spinner-size: 2.5em;

.spinner {

	font-size: 2px;
	display: inline-block;
	position: relative;
	color: #ffffff;
	margin: $spinner-size * -1 auto auto auto;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;

	&,
	&:before,
	&:after {
		border-radius: 50%;
		width: $spinner-size;
		height: $spinner-size;
		animation-fill-mode: both;
		animation: spinner 1.8s infinite ease-in-out;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
	}
	&:before {
		left: $spinner-size * -1.5;
		animation-delay: -0.32s;
	}
	&:after {
		left: $spinner-size * 1.5;
	}
}

@-webkit-keyframes spinner {
	0%,
	80%,
	100% {
		box-shadow: 0 $spinner-size 0 $spinner-size * -0.5;
	}
	40% {
		box-shadow: 0 $spinner-size 0 0;
	}
}

@keyframes spinner {
	0%,
	80%,
	100% {
		box-shadow: 0 $spinner-size 0 $spinner-size * -0.5;
	}
	40% {
		box-shadow: 0 $spinner-size 0 0;
	}
}
