<div class="tab-services" *ngIf="items?.length">
	<div *ngFor="let service of items" class="tab-services__wrapper">
		<div class="tab-services__title">
			<svg class="ico">
				<use [attr.xlink:href]="service.icon"></use>
			</svg>
			<span [innerHTML]="service.title"></span>
		</div>
		<ul class="tab-services__list">
			<li *ngFor="let feature of service.features;">
				<svg class="ico">
					<use xlink:href="#ico-check-list"></use>
				</svg>
				{{feature.title}}
				<span *ngIf="feature.description !== '0' && feature.description !== '1'" [innerHTML]="feature.description"></span>
			</li>
		</ul>
	</div>
</div>
