<section class="hotel-variants-views" *ngIf="items && items.length">
	<div class="container">
		<div class="head">
			<h2>Altre offerte della stessa struttura</h2>
		</div>
		<div class="card-row" lazy-images>
			<ng-container *ngFor="let item of items; let i = index;">
				<ng-container *ngIf="i < visibleItems">
					<div class="card-col">
						<hotel-variants-item [item]="item" [index]="i"></hotel-variants-item>
					</div>
				</ng-container>
			</ng-container>
		</div>
	</div>
</section>
