<span class="hotel-trust" [ngClass]="{
	excellent: 	trustPilot.averageStars >= 4 && trustPilot.averageStars <= 5,
	good: 		trustPilot.averageStars >= 3 && trustPilot.averageStars < 4,
	average: 	trustPilot.averageStars >= 2 && trustPilot.averageStars < 3,
	poor: 		trustPilot.averageStars >= 1 && trustPilot.averageStars < 2,
	bad: 		trustPilot.averageStars >= 0 && trustPilot.averageStars < 1
}">
	<span class="number">{{trustPilot.averageStars}}</span>
	<span class="text" *ngIf="trustPilot.averageStars >= 4 && trustPilot.averageStars <= 5">Eccellente</span>
	<span class="text" *ngIf="trustPilot.averageStars >= 3 && trustPilot.averageStars < 4">Buono</span>
	<span class="text" *ngIf="trustPilot.averageStars >= 2 && trustPilot.averageStars < 3">Medio</span>
	<span class="text" *ngIf="trustPilot.averageStars >= 1 && trustPilot.averageStars < 2">Scarso</span>
	<span class="text" *ngIf="trustPilot.averageStars >= 0 && trustPilot.averageStars < 1">Pessimo</span>
	<span class="text">({{trustPilot.totalReviews}})</span>
</span>
