@import "~scss/variables";

/*--------------------------------------------------
Hotel Trust
--------------------------------------------------*/

.hotel-trust {

	font-size: 10px;
	text-transform: uppercase;

	.number {
		display: inline-block;
		color: #fff;
		padding: 0 5px;
	}

	.text {
		display: inline-block;
		margin-left: 4px;
	}

	&.excellent {
		.number {
			background-color: $rate-excellent;
		}
		.text {
			color: $rate-excellent;
		}
	}

	&.good {
		.number {
			background-color: $rate-good;
		}
		.text {
			color: $rate-good;
		}
	}

	&.average {
		.number {
			background-color: $rate-average;
		}
		.text {
			color: $rate-average;
		}
	}

	&.poor {
		.number {
			background-color: $rate-poor;
		}
		.text {
			color: $rate-poor;
		}
	}

	&.bad {
		.number {
			background-color: $rate-bad;
		}
		.text {
			color: $rate-bad;
		}
	}

}

:host {

    .hotel-item & {
       text-align: right;
        // margin-top: 3px;

        .text {
            display: block;
        }
    }

    .hotel-head & {
		margin-top: 10px;

		.text {
			display: inline-block;
			margin-left: 4px;
		}
    }

}