<span class="hotel-trust" [ngClass]="{
	excellent: 	trustPilot.averageStars >= 8 && trustPilot.averageStars < 10,
	good: 		trustPilot.averageStars >= 6 && trustPilot.averageStars < 8,
	average: 	trustPilot.averageStars >= 4 && trustPilot.averageStars < 6,
	poor: 		trustPilot.averageStars >= 2 && trustPilot.averageStars < 4,
	bad: 		trustPilot.averageStars >= 8 && trustPilot.averageStars < 2
}">
	<span class="number">{{trustPilot.averageStars}}</span>
<span class="text" *ngIf="trustPilot.averageStars >= 8 && trustPilot.averageStars < 10">Eccellente</span>
<span class="text" *ngIf="trustPilot.averageStars >= 6 && trustPilot.averageStars < 8">Buono</span>
<span class="text" *ngIf="trustPilot.averageStars >= 4 && trustPilot.averageStars < 6">Medio</span>
<span class="text" *ngIf="trustPilot.averageStars >= 2 && trustPilot.averageStars < 4">Scarso</span>
<span class="text" *ngIf="trustPilot.averageStars >= 0 && trustPilot.averageStars < 2">Pessimo</span>
</span>
