@import "~scss/variables";

/*--------------------------------------------------
Generic Page
--------------------------------------------------*/

.generic-component {
	border-top: 1px solid $border-color;
	padding: 20px 0 35px;

	.container {
		padding: 0 30px 0 15px;
		max-width: 940px;
	}

	.h1 {
		color: $tit-color;
		font-size: 40px;
		line-height: 1.2;
		font-weight: 300;
		margin-bottom: 20px;

		@include xs-down {
			font-size: 28px;
			font-weight: normal;
		}
	}
}

.divline {
	margin: 20px 0;
	border-top: 1px solid $border-color;
}
