<div class="page">
	<div class="small-container">
		<h2>{{ 'signForgotten.title' | translate }}</h2>
		<br>
		<form name="signForgotten" role="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()" #signForgotten="ngForm" [hidden]="submitted">
			<div class="form-group">
				<input type="email" class="form-control" required [(ngModel)]="model.email" name="email" placeholder="{{ 'signForgotten.email' | translate }}" #email="ngModel" #input>
				<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
					<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="!signForgotten.form.valid">{{ 'signForgotten.send' | translate }}</button>
		</form>
	</div>
</div>
