<div class="serp-search">
	<div class="container">
		<div class="serp-filters">
			<div class="serp-filters--item">
				<svg class="ico ico-pin">
					<use xlink:href="#ico-pin"></use>
				</svg>
				<span>Mappa </span> </div>
			<div class="serp-filters--item" (click)="active = popupOrder" #popupOrder>
				<svg class="ico ico-order">
					<use xlink:href="#ico-order"></use>
				</svg>
				<span>Ordina </span> </div>
			<div class="serp-filters--item" (click)="active = popupFilter" #popupFilter>
				<svg class="ico ico-filter">
					<use xlink:href="#ico-filter"></use>
				</svg>
				<span>Filtra </span> </div>
			<div class="serp-filters--item" (click)="active = popupMainSearch" #popupMainSearch>
				<svg class="ico ico-search">
					<use xlink:href="#ico-search"></use>
				</svg>
				<span>Modifica </span> </div>
		</div>
		<!-- Order Popup -->
		<div class="serp-filters--popup serp-order--popup" [ngClass]="{ 'active' : active == popupOrder }">
			<div class="head">
				<div class="tit"> Ordina risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<ul class="list">
					<li class="list--item" *ngFor="let sorting of filterService.sortings">
						<div class="radio"> <label> <input checked name="order" type="radio" [(ngModel)]="filterService.sorting" [value]="sorting" (change)="filterService.onSort()"><span>{{sorting.name}} </span> </label> </div>
					</li>
				</ul>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Order Popup -->
		<!-- Filter Popup -->
		<div class="serp-filters--popup serp-filter--popup" [ngClass]="{ 'active' : active == popupFilter }">
			<div class="head">
				<div class="tit"> Filtra risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<div class="popup-accordion">
					<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
				</div>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Filter Popup -->
		<!-- Main Search Popup -->
		<div class="serp-filters--popup serp-main-search--popup" [ngClass]="{ 'active' : active == popupMainSearch }">
			<div class="head">
				<div class="tit"> Modifica ricerca </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<main-search (doSearch)="active = null; filterService.onReset(); search.onSearchIn()">---</main-search>
		</div>
		<!-- Main Search Popup -->
	</div>
</div>

<div class="serp-content">
	<div class="container">
		<div class="serp-filter">
			<div class="switch-map-list">
				<div class="switch-map-list--item switch-map-list--item__map" [ngClass]="{ active: viewType == viewTypes.List }">
					<img src="assets/img/map.png">
					<button type="button" class="btn" (click)="viewType = viewTypes.Map">
						<svg class="ico">
							<use xlink:href="#ico-pin"></use>
						</svg>
						Visualizza nella mappa
					</button>
				</div>
				<div class="switch-map-list--item switch-map-list--item__list" [ngClass]="{ active: viewType == viewTypes.Map }">
					<button type="button" class="btn" (click)="viewType = viewTypes.List">
						<svg class="ico">
							<use xlink:href="#ico-list"></use>
						</svg>
						Torna all'elenco
					</button>
				</div>
			</div>
			<div class="serp-filter--sticky">
				<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
			</div>
		</div>
		<section-search-result class="serp-results" *ngIf="viewType == viewTypes.List"></section-search-result>
		<section-search-result-map class="serp-results" *ngIf="viewType == viewTypes.Map"></section-search-result-map>
	</div>
</div>

<!-- <json-formatter [json]="search.model"></json-formatter> -->
