@import "~scss/variables";

/*--------------------------------------------------
Order History
--------------------------------------------------*/
.h1 {
	color: $tit-color;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: 300;

	@include xs-down {
		font-size: 28px;
		font-weight: normal;
	}
}


/*--------------------------------------------------
Order History Views
--------------------------------------------------*/
.order-history-views {
	margin-bottom: 60px;
	border-top: 1px solid $border-color;
	padding-top: 40px;

	@include xs-down {
		margin-top: 40px;
		margin-bottom: 20px;
		border-top: none;
		padding-top: 0;
	}

	.card-row {
		flex-wrap: wrap;
		margin: 0 -15px;

		.card-col {
			flex: 0 0 33.333%;
			max-width: 33.333%;

			@include xs-down {
				flex: 0 0 50%;
				max-width: 50%;
			}

			@include xxs-down {
				flex: 0 0 100%;
				max-width: none;
			}
		}
	}
}

order-history-item {
	display: block;
	width: 100%;
	margin-bottom: 40px;
}
