@import "~scss/variables";

/*--------------------------------------------------
Featured Hotels Item
--------------------------------------------------*/

.hotel-item {
	display: flex;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
	flex-direction: column;
	height: 100%;

	.image {
		position: relative;
		z-index: 1;
		width: auto;
		flex: 0 0 auto;
		width: 100%;

		.discount {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		a {
			width: 100%;
			height: 100%;
			position: static;

			img {
				opacity: 0; // lazy-image
				position: static;
				transform: none;
				width: 100%;
				height: auto;
				min-height: 0;
				max-width: none;
				transition: none;

				&.ready {
					opacity: 1;
				}
			}

		}
	}

	.content {
		flex: 1 1 auto;
		max-width: 310px;
		padding: 8px 12px 12px;

		@include xs-down {
			padding-top: 6px;
		}

	}

	.status {
		color: #fff;
		font-weight: 600;
		font-size: 12px;
		padding: 5px 12px;
		background: #72b244;
		text-transform: uppercase;
	}

	// STATUS

	// Preventivo, Opzionato, In Richiesta
	.status-1,
	.status-2,
	.status-3 {
		background-color: $primary-color;
	}

	// In lavorazione
	.status-4 {
		background-color: #72b244;
	}

	// Confermato
	.status-5 {
		background-color: #72b244;
	}

	// Annullato, Cancellato
	.status-6,
	.status-7 {
		background-color: #f84717;
	}

	.head {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin-bottom: 10px;
		position: relative;
		z-index: 1;
		flex-wrap: nowrap;
		align-items: flex-start;

		@include xs-down {
			display: block;
			padding-right: 30px;
		}

		.add-to-fav {
			display: none;

			@include xs-down {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				background: none;
				color: $primary-color;
				border: none;
				text-align: center;
				cursor: pointer;
				padding-right: 0;

				svg {
					width: 22px;
					height: 22px;
					stroke: $primary-color;
					stroke-width: 2px;
					fill: #fff;
				}

				&.active {
					svg {
						fill: $primary-color;
					}
				}
			}
		}
	}

	.info {
		padding-right: 6px;

		.name {
			font-weight: 600;
			color: $tit-color;
			font-size: 15px;
			line-height: 1.1;
			margin-bottom: 2px;


			@include xs-down {
				font-size: 13px;
			}

			a {
				color: $tit-color;
				margin-right: 3px;
				display: inline-block;
				text-decoration: none;

				span {
					margin-right: 4px;
				}

				&:hover {
					text-decoration: none;
				}
			}

			.stars {
				transform: translateY(3px);
			}
		}

		.location {
			font-size: 11px;
			line-height: 1.1;
		}
	}

	.desc {
		font-size: 12px;
		line-height: 1.2;

		.list {
			margin: 0;
			padding: 0;
			list-style: none;

			&-item {
				position: relative;
				z-index: 1;
				padding-left: 20px;
				padding-bottom: 6px;

				.ico {
					position: absolute;
					z-index: 1;
					top: -1px;
					left: 0;
					width: 16px;
					height: 16px;
					fill: $text-color;

					@include xs-down {
						width: 14px;
						height: 14px;
						top: 0;
					}
				}
			}
		}
	}

	.special-msg {
		color: $secondary-color;
		font-size: 11px;
		margin-top: 10px;

		strong {
			font-size: 15px;
			font-weight: bold;
		}
	}

	.action {
		display: flex;
		background: $light-color;
		width: auto;
		flex: 0 0 auto;
		max-width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
		padding: 6px 12px 10px;

		.add-to-fav {
			display: none;
		}

		.summary {
			flex: 1 0 auto;
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			@include xs-down {
				flex: 0 0 50%;
				wdith: 50%;
				display: block;
			}
		}
	}

	.price {
		color: $primary-color;
		margin-top: 5px;

		.desc {
			display: block;
			font-size: 9px;
			text-transform: uppercase;
			line-height: .9;
		}

		.single-price {
			font-weight: bold;
			line-height: .9;
			margin-bottom: 3px;
			display: block;

			.value {
				font-size: 30px;

				@include xs-down {
					font-size: 22px;
				}
			}

			.symbol {
				font-size: 16px;
			}
		}
	}

	.total-price {
		margin-top: 2px;
		font-size: 9px;
		text-transform: uppercase;
		line-height: .9;

		.desc {
			font-size: 9px;
			text-transform: uppercase;
			line-height: .9;
		}

		.total-price {
			font-weight: bold;
			display: inline-block;
			margin-left: 3px;
		}
	}

	.cta {
		@include xs-down {
			flex: 0 0 50%;
			max-width: 50%;
		}

		.btn {
			text-align: center;
			display: block;
			width: 100%;
		}
	}

	.region,
	.town {
		text-transform: uppercase;
	}

}
