<h1 class="h1 title">Riepilogo ordini</h1>
<div class="order-history-views" lazy-images>
	<div class="tit" *ngIf="busy">Caricamento degli ordini...</div>
	<ng-container *ngIf="items?.length === 0">
		Nessun ordine registrato
	</ng-container>
	<div class="card-row">
		<ng-container *ngFor="let item of items; let i = index;">
			<ng-container *ngIf="i < visibleItems">
				<div class="card-col">
					<order-history-item [item]="item"></order-history-item>
				</div>
			</ng-container>
		</ng-container>
	</div>
	<button type="button" class="btn" *ngIf="items?.length > visibleItems" (click)="visibleItems = visibleItems + 20">carica altri</button>
</div>
