@import "~scss/variables";

/*--------------------------------------------------
Form
--------------------------------------------------*/
.h1 {
	color: $tit-color;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: 300;

	@include xs-down {
		font-size: 28px;
		font-weight: normal;
	}
}

.tit {
	margin-bottom: 10px;
}
