@import "~scss/variables";

.mapboxgl-map {
	width: 100%;
	height: calc(100vh - 200px);

	@include sm-down {
		height: calc(100vh - 150px);
	}

	@include xs-down {
		height: calc(100vh - 140px);
	}
}
