label {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.form-control {
	border-radius: 0;
	background: transparent;
	color: white;
	border: 1px solid rgba(white, 0.1);
	font-size: 16px;
	border-left: 2px solid rgba(white, 0.2);

	&:hover {
		border-left-color: rgba(white, 0.8);
	}

	&:active,
	&:focus {
		background: rgba(black, 0.15);
		border-left-color: rgba(white, 0.8);
		outline: none;
		box-shadow: none;
	}
}

textarea {
	&.form-control {
		resize: none;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
