<!-- Promotions -->
<section class="promotions">
	<div class="container">
		<div class="head">
			<h2>Le mete migliori per gli amanti dell'arte</h2>
			<a href="#" class="btn btn--ghost">Visualizza tutte</a>
		</div>
		<div class="card-row">
			<div class="card-col" *ngFor="let promotion of promotions" [routerLink]="['promotion', promotion.id] | route">
				<a class="card" href="#">
					<figure class="figure">
						<img class="img" src="{{promotion.image}}" alt="{{promotion.name}}">
					</figure>
					<div class="body">
						<h3 class="title">{{promotion.name}}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /Promotions -->
