<!-- Promotions -->
<section class="promotions" *ngIf="item">
	<div class="container">
		<div class="head">
			<h2 [innerHtml]="item.title"></h2>
			<button type="button" class="btn btn--ghost" (click)="limit = 1000;" *ngIf="item.images?.length > limit">Visualizza tutte</button>
		</div>
		<div class="card-row" lazy-images>
			<div class="card-col" *ngFor="let item of items | slice :0 :limit">
				<a class="card" [routerLink]="[item.slug] | route">
					<figure class="figure">
						<img class="img" [attr.data-src]="item.images | image :'Default' :'width=361&height=203&rmode=crop'" alt="{{item.title}}">
					</figure>
					<div class="body">
						<h3 class="title">{{item.title}}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /Promotions -->
