@import "~scss/variables";

/*--------------------------------------------------
Home Search
--------------------------------------------------*/

.home-search {
	height: 650px;
	background-color: $tertiary-color;
	background-size: cover;
	background-position: center;
	margin-bottom: 60px;
	user-select: none;
	max-height: calc(100vh - 68px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 360px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 55%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	}

	.container {
		position: relative;
		z-index: 1;
	}

	@include md-down {
		height: 520px;
	}

	@include sm-down {
		max-height: none;
	}

	@include xs-down {
		background-image: linear-gradient(to bottom, $tertiary-color, lighten($tertiary-color, 8%)) !important;
		padding: 20px 0;
		height: auto;
		margin-bottom: 25px;

		&:after,
		&:before {
			display: none;
		}
	}

	&--head {
		color: #fff;
		text-align: center;

		.tit {
			font-size: 50px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 40px;

			@include md-down {
				font-size: 40px;
				margin-bottom: 30px;
			}

			@include xs-down {
				font-size: 22px;
				margin-bottom: 20px;
				padding: 0 10px;
			}
		}

		.subtit {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 50px;

			@include md-down {
				margin-bottom: 30px;
			}

			@include xs-down {
				font-size: 13px;
				margin-bottom: 12px;
				font-weight: 400;
			}
		}
	}
}

/*--------------------------------------------------
Value Proposition
--------------------------------------------------*/
.home-value-proposition {
	margin-top: -60px;
	margin-bottom: 60px;

	@include xs-down {
		margin-top: -30px;
		margin-bottom: 30px;
	}
}


/*--------------------------------------------------
Fullwidth bg
--------------------------------------------------*/
.fullwidth-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	@include xs-down {
		display: none;
	}

	img {
		max-width: none;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
}
