<!-- Categories -->
<section class="categories">
	<div class="container">
		<div class="head">
			<h2>Organizza il tuo tipo di vacanza ideale</h2>
		</div>
		<div class="card-row">
			<div class="card-col " *ngFor="let category of categories" [routerLink]="['category', category.id] | route">
				<a class="category-card" href="#">
					<figure class="figure">
						<img class="img" [src]="category.image | asset" alt="{{category.name}}">
					</figure>
					<div class="body">
						<h3 class="title">{{category.name}}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /Categories -->
