@import "~scss/variables";

/* --- */

/*
:host {
	display: block;
	position: relative;
	padding: 0;
	min-height: 60vh;
	background: red;
	padding: 0;
}
*/

/*--------------------------------------------------
Serp Search
--------------------------------------------------*/

.serp-search {
	background: $tertiary-color;
	margin-bottom: 30px;
	position: relative;
	z-index: 90;
	user-select: none;

	@include sm-down {
		margin-bottom: 20px;
	}
}


/*--------------------------------------------------
Switch Map List
--------------------------------------------------*/

.switch-map-list {
	padding-top: 10px;
	padding-bottom: 18px;
	border-bottom: 1px solid $border-color;
	text-align: center;

	&--item {
		position: relative;
		z-index: 1;
		display: none;

		&.active {
			display: block;
		}

		.btn {
			white-space: nowrap;
			font-size: 12px;
			text-transform: none;
			letter-spacing: 0;

			svg {
				fill: #fff;
				width: 14px;
				height: 14px;
				margin-right: 1px;
				position: relative;
				top: 2px;
				margin-top: -1px;
			}
		}


		&__map {
			text-align: center;
			position: relative;
			z-index: 1;

			img {
				position: relative;
				z-index: -1;
				width: 100%;
				max-width: none;
			}

			.btn {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}


	}
}


/*--------------------------------------------------
Serp Filters
--------------------------------------------------*/

.serp-filters {
	display: none;

	@include sm-down {
		display: flex;
		justify-content: space-between;

		.item {
			flex: 0 0 25%;

			button {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				text-align: center;
				color: #fff;
				font-size: 10px;
				text-transform: uppercase;
				cursor: pointer;
				padding: 8px 10px 5px;
			}

			svg {
				width: 20px;
				height: 20px;
				fill: #fff;
			}

			.ico-pin {
				fill: transparent;
				stroke-width: 2.5px;
				stroke: #fff;
				width: 18px;
				height: 18px;
				margin-bottom: 2px;
			}

			span {
				display: block;
				margin-top: 3px;
				text-transform: uppercase;
			}

			.switch-map {
				display: none;
				color: #fff;
				text-decoration: none;

				&.active {
					display: flex;
				}
			}
		}
	}

	&--popup {
		display: none;

		@include sm-down {
			position: fixed;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-image: linear-gradient(to bottom, $tertiary-color, lighten($tertiary-color, 8%)) !important;

			&.active {
				display: flex;
				flex-direction: column;
			}

			.head {
				position: fixed;
				z-index: 100;
				top: 0;
				left: 0;
				width: 100%;
				flex: 0 0 auto;
				padding: 15px;
				color: #fff;
				font-size: 18px;
			}

			.close {
				position: absolute;
				z-index: 100;
				top: 18px;
				right: 15px;
				cursor: pointer;
				opacity: .5;

				&:hover {
					opacity: 1;
				}

				svg {
					fill: #fff;
					width: 20px;
					height: 20px;
				}
			}

			.content {
				position: fixed;
				z-index: 100;
				top: 57px;
				bottom: 59px;
				left: 0;
				width: 100%;
				z-index: 100;
				background: #fff;
				overflow-y: auto;

			}

			main-search {
				position: fixed;
				z-index: 100;
				top: 57px;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 100;
				overflow-y: auto;
			}

			.foot {
				border-top: 1px solid $border-color;
				background: #fff;
				padding: 10px 15px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: fixed;
				z-index: 100;
				left: 0;
				bottom: 0;
				width: 100%;


				a.btn-reset {
					color: $text-color;
				}
			}
		}

	}

}

.serp-main-search--popup {
	@include sm-up {
		display: block;

		.head {
			display: none;
		}
	}
}

/*--------------------------------------------------
Serp Content
--------------------------------------------------*/

.serp-content {
	@include sm-up {
		.container {
			display: flex;
			justify-content: space-between;
			margin-bottom: 60px;
		}
	}

	@include sm-down {
		padding: 0 15px;
	}
}

.serp-filter {
	flex: 0 0 320px;
	width: 320px;
	display: block;
	padding: 0 30px 0 15px;

	/* --- */
	/*
	background: white;
	position: relative;
	z-index: 10;
	*/
	.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 3px;
		max-height: calc(100vh - 6px);
		overflow-y: auto;
		width: calc(100% + 15px);
		padding-right: 15px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: #f3f3f3;
		}

		&::-webkit-scrollbar-thumb {
			background: #d8d8d8;
		}

	}

	@include sm-down {
		display: none;
	}
}

.serp-results {
	flex-grow: 1;
	padding: 0 15px;
}

/*--------------------------------------------------
List
--------------------------------------------------*/

.list {

	li {
		padding: 12px 15px;
		border-bottom: 1px solid $border-color;

		label {
			margin: 0;
			padding: 0;
			line-height: 1.3;
			font-size: 12px;

			&>span {
				display: flex;
				justify-content: space-between;

				em {
					font-style: normal;
					font-size: 11px;
					margin-top: 1px;
				}
			}
		}
	}
}
