<div class="head">
	<div class="tit" *ngIf="search.model.destination">Ci sono <strong>{{(search.resultsFiltered$ | async)?.length}}</strong> offerte per <strong>{{search.model.destination?.name}}</strong></div>
	<div class="tit" *ngIf="!search.model.destination">Ci sono <strong>{{(search.resultsFiltered$ | async)?.length}}</strong> offerte per te</div>
	<div class="filter">
		<div class="filter-item">
			<label>Ordina per</label>
			<div class="custom-select">
				<select class="select" id="order" [(ngModel)]="filterService.sorting" (change)="filterService.onSort()">
					<option selected *ngFor="let option of filterService.sortings" [ngValue]="option">{{option.name}}</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="hotel-list" *ngIf="!search.busy">
	<ng-container *ngFor="let item of (search.resultsFiltered$ | async); let i = index;">
		<ng-container *ngIf="i < search.visibleItems">
			<serp-item [item]="item" [index]="i"></serp-item>
		</ng-container>
	</ng-container>
	<button type="button" class="btn" *ngIf="(search.resultsFiltered$ | async)?.length > search.visibleItems" (click)="search.viewMore()">carica altri</button>
</div>
