<div class="serp-search">
	<div class="container">
		<div class="serp-filters">

			<div class="item">
				<a class="switch-map" [routerLink]="['map']" routerLinkActive #rMap="routerLinkActive" [ngClass]="{ active: rList.isActive }">
					<svg class="ico ico-pin">
						<use xlink:href="#ico-pin"></use>
					</svg>
					<span>Mappa </span>
				</a>

				<a class="switch-map" [routerLink]="['list']" routerLinkActive #rList="routerLinkActive" [ngClass]="{ active: rMap.isActive }">
					<svg class="ico ico-list">
						<use xlink:href="#ico-list"></use>
					</svg>
					<span>Lista </span>
				</a>

			</div>
			<div class="item" (click)="active = popupOrder" #popupOrder>
				<svg class="ico ico-order">
					<use xlink:href="#ico-order"></use>
				</svg>
				<span>Ordina </span>
			</div>
			<div class="item" (click)="active = popupFilter" #popupFilter>
				<svg class="ico ico-filter">
					<use xlink:href="#ico-filter"></use>
				</svg>
				<span>Filtra </span>
			</div>
			<div class="item" (click)="active = popupMainSearch" #popupMainSearch>
				<svg class="ico ico-search">
					<use xlink:href="#ico-search"></use>
				</svg>
				<span>Modifica </span>
			</div>
		</div>
		<!-- Order Popup -->
		<div class="serp-filters--popup serp-order--popup" [ngClass]="{ 'active' : active == popupOrder }">
			<div class="head">
				<div class="tit"> Ordina risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<ul class="list">
					<li class="list--item" *ngFor="let sorting of filterService.sortings">
						<div class="radio"> <label> <input checked name="order" type="radio" [(ngModel)]="filterService.sorting" [value]="sorting" (change)="filterService.onSort()"><span>{{sorting.name}} </span> </label> </div>
					</li>
				</ul>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Order Popup -->
		<!-- Filter Popup -->
		<div class="serp-filters--popup serp-filter--popup" [ngClass]="{ 'active' : active == popupFilter }">
			<div class="head">
				<div class="tit"> Filtra risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<div class="popup-accordion">
					<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
				</div>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Filter Popup -->
		<!-- Main Search Popup -->
		<div class="serp-filters--popup serp-main-search--popup" [ngClass]="{ 'active' : active == popupMainSearch }">
			<div class="head">
				<div class="tit"> Modifica ricerca </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<main-search (doSearch)="active = null; filterService.onReset(); search.onSearchIn()">---</main-search>
		</div>
		<!-- Main Search Popup -->
	</div>
</div>

<div class="serp-content">
	<div class="container" lazy-images>
		<div class="serp-filter">
			<div class="switch-map-list">
				<div class="switch-map-list--item switch-map-list--item__map" [ngClass]="{ active: rList.isActive }">
					<img src="assets/img/map.png">
					<a class="btn" [routerLink]="['map']" routerLinkActive #rMap="routerLinkActive">
						<!-- [queryParams]="search.queryParams" queryParamsHandling="merge" -->
						<svg class="ico">
							<use xlink:href="#ico-pin"></use>
						</svg>
						Visualizza nella mappa
					</a>
				</div>
				<div class="switch-map-list--item switch-map-list--item__list" [ngClass]="{ active: rMap.isActive }">
					<a class="btn" [routerLink]="['list']" routerLinkActive #rList="routerLinkActive">
						<svg class="ico">
							<use xlink:href="#ico-list"></use>
						</svg>
						Torna all'elenco
					</a>
				</div>
			</div>
			<div class="serp-filter--sticky">
				<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
			</div>
		</div>
		<router-outlet></router-outlet>
		<!--
		<section-serp-list class="serp-results" *ngIf="viewType == viewTypes.List"></section-serp-list>
		<section-serp-map class="serp-results" *ngIf="viewType == viewTypes.Map"></section-serp-map>
		-->
	</div>
</div>
