<div class="serp-search">
	<div class="container">
		<div class="serp-filters">
			<div class="item">
				<button type="button" class="switch-map" [ngClass]="{ active: viewType === viewTypes.List }" (click)="viewType = viewTypes.Map">
					<svg class="ico ico-pin">
						<use xlink:href="#ico-pin"></use>
					</svg>
					<span>Mappa </span>
				</button>
				<button type="button" class="switch-map" [ngClass]="{ active: viewType === viewTypes.Map }" (click)="viewType = viewTypes.List">
					<svg class="ico ico-list">
						<use xlink:href="#ico-list"></use>
					</svg>
					<span>Lista </span>
				</button>
			</div>
			<div class="item" (click)="active = popupOrder" #popupOrder>
				<button>
					<svg class="ico ico-order">
						<use xlink:href="#ico-order"></use>
					</svg>
					<span>Ordina </span>
				</button>
			</div>
			<div class="item" (click)="active = popupFilter" #popupFilter>
				<button>
					<svg class="ico ico-filter">
						<use xlink:href="#ico-filter"></use>
					</svg>
					<span>Filtra </span>
				</button>
			</div>
			<div class="item" (click)="active = popupMainSearch" #popupMainSearch>
				<button>
					<svg class="ico ico-search">
						<use xlink:href="#ico-search"></use>
					</svg>
					<span>Modifica </span>
				</button>
			</div>
		</div>
		<!-- Order Popup -->
		<div class="serp-filters--popup serp-order--popup" [ngClass]="{ 'active' : active == popupOrder }">
			<div class="head">
				<div class="tit"> Ordina risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<ul class="list">
					<li class="list--item" *ngFor="let sorting of filterService.sortings">
						<div class="radio"> <label> <input checked name="order" type="radio" [(ngModel)]="filterService.sorting" [value]="sorting" (change)="filterService.onSort()"><span>{{sorting.name}} </span> </label> </div>
					</li>
				</ul>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Order Popup -->
		<!-- Filter Popup -->
		<div class="serp-filters--popup serp-filter--popup" [ngClass]="{ 'active' : active == popupFilter }">
			<div class="head">
				<div class="tit"> Filtra risultati </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<div class="content">
				<div class="popup-accordion">
					<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
				</div>
			</div>
			<div class="foot"> <a href="#" class="btn-reset" (click)="filterService.onReset()">Resetta filtri </a> <button type="button" class="btn" (click)="active = null">Aggiorna </button> </div>
		</div>
		<!-- Filter Popup -->
		<!-- Main Search Popup -->
		<div class="serp-filters--popup serp-main-search--popup" [ngClass]="{ 'active' : active == popupMainSearch }">
			<div class="head">
				<div class="tit"> Modifica ricerca </div>
				<a class="close" (click)="active=null">
					<svg class="ico">
						<use xlink:href="#ico-close"></use>
					</svg>
				</a>
			</div>
			<main-search [useBreadcrumbs]="useBreadcrumbs" (doSearch)="active = null; search.onSearchIn($event)">---</main-search>
		</div>
		<!-- Main Search Popup -->
	</div>
</div>
<div class="serp-content">
	<div class="container" lazy-images>
		<ng-container *ngIf="search.busy">
			<div class="head">
				<div class="tit">Caricamento delle offerte in corso...</div>
			</div>
		</ng-container>
		<ng-container *ngIf="!search.busy">
			<ng-container [ngSwitch]="(search.results$ | async)?.length">
				<ng-container *ngSwitchCase="0">
					<div class="nrp" *ngIf="!search.busy && (search.results$ | async)?.length == 0">
						<div class="tit h1">Purtroppo la ricerca non ha prodotto nessun risultato</div>
						<div class="text">Hai una richiesta particolare?<br>
							Prova a contattare il nostro Call Center al numero di telefono <a href="tel:+39 045 9599"><svg class="ico">
									<use xlink:href="#ico-tel"></use>
								</svg>045 9599</a></div>
					</div>
					<div class="home-lastviews">
						<home-lastviews></home-lastviews>
					</div>
				</ng-container>
				<ng-container *ngSwitchDefault>
					<div class="serp-filter">
						<div class="switch-map-list">
							<div class="switch-map-list--item switch-map-list--item__map" [ngClass]="{ active: viewType === viewTypes.List }">
								<img src="assets/img/map.png">
								<button type="button" class="btn" (click)="viewType = viewTypes.Map">
									<svg class="ico">
										<use xlink:href="#ico-pin"></use>
									</svg>
									Visualizza nella mappa
								</button>
							</div>
							<div class="switch-map-list--item switch-map-list--item__list" [ngClass]="{ active: viewType === viewTypes.Map }">
								<button type="button" class="btn" (click)="viewType = viewTypes.List">
									<svg class="ico">
										<use xlink:href="#ico-list"></use>
									</svg>
									Torna all'elenco
								</button>
							</div>
						</div>
						<div class="serp-filter--sticky">
							<section-filter (selectFilter)="filterService.setGroups()"></section-filter>
						</div>
					</div>
					<serp-list-component *ngIf="viewType == viewTypes.List"></serp-list-component>
					<serp-map-component *ngIf="viewType == viewTypes.Map"></serp-map-component>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
</div>
