@import "~scss/variables";

/*--------------------------------------------------
Base
--------------------------------------------------*/

.wrapper {
	max-width: 1600px;
	min-height: 100vh;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
}

.container {
	max-width: 1170px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;

	@include md-down {
		max-width: calc(100% - 5px);
	}

	@include sm-down {
		max-width: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}


/*--------------------------------------------------
Card Row
--------------------------------------------------*/

.card-row {
	display: flex;
	flex-wrap: wrap;

	@include xs-down {
		padding: 0 5px;
	}

	.card-col {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		padding: 0 15px;
		display: flex;

		@include xs-down {
			padding: 0 10px;
		}

		@include xxs-down {
			padding: 0 10px;
			flex: 0 0 100%;
			max-width: none;
		}
	}

}


/*--------------------------------------------------
Stars
--------------------------------------------------*/
.stars {
	white-space: nowrap;
	display: inline-block;

	em {
		display: inline-block;
		order: 1;
		background-color: $star-color;
		mask-image: url(assets/img/star.svg);
		width: 12px;
		height: 12px;
		text-indent: -9999px;
		font-size: 0;
		line-height: 1 !important;
		vertical-align: text-top;
		letter-spacing: 0;
		white-space: nowrap;
		font-style: normal;

		&.superior {
			font-size: 9px !important;
			font-weight: bold;
			text-indent: 0;
			color: $star-color;
			mask-image: none;
			background-color: transparent !important;
			position: relative;
			left: 2px;
			top: 2px;
		}
	}
}


/*--------------------------------------------------
Hotel Trust
--------------------------------------------------*/
.hotel--trust {
	font-size: 10px;
	text-transform: uppercase;

	&__number {
		display: inline-block;
		color: #fff;
		background-color: $rate-excellent;
		padding: 0 5px;

		&.good {
			background-color: $rate-good;
		}

		&.poor {
			background-color: $rate-poor;
		}
	}

	&__text {
		display: block;
		color: $rate-excellent;

		&.good {
			color: $rate-good;
		}

		&.poor {
			color: $rate-poor;
		}
	}
}
