@import "~scss/variables";

/*--------------------------------------------------
Buttons
--------------------------------------------------*/

.btn {
	background-color: $primary-color;
	border: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	padding: 9px 15px;
	cursor: pointer;
	transition: background .2s ease-in-out;
	outline: 0;

	&:hover {
		background: darken($primary-color, 5%);
		color: #fff;
		text-decoration: none;
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($primary-color, 8%);
		outline: 0;
		box-shadow: none;
	}

}

.btn--secondary {
	background-color: $secondary-color;

	&:hover {
		background: darken($secondary-color, 5%);
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($secondary-color, 8%);
	}
}


.btn--tertiary {
	background-color: $tertiary-color;

	&:hover {
		background: darken($tertiary-color, 5%);
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($tertiary-color, 8%);
	}
}

.btn--ghost {
	padding: 0;
	margin: 0;
	min-width: 0;
	max-width: none;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none !important;
	box-shadow: none !important;
	text-transform: none;
	font-size: inherit;
	font-weight: normal;
}
