@import "~scss/variables";

/*--------------------------------------------------
Buttons
--------------------------------------------------*/

.btn {
	background-color: $primary-color;
	border: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	padding: 9px 15px;
	cursor: pointer;
	transition: background .2s ease-in-out;
	outline: 0;

	@include xxs-down {
		padding: 12px 20px;
	}

	@include xxxs-down {
		padding: 10px 15px;
	}

	&:hover {
		background: darken($primary-color, 5%);
		color: #fff;
		text-decoration: none;
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($primary-color, 8%);
		outline: 0;
		box-shadow: none;
	}

}

.btn--secondary {
	background-color: $secondary-color;

	&:hover {
		background: darken($secondary-color, 5%);
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($secondary-color, 8%);
	}
}

.btn--tertiary {
	background-color: $tertiary-color;

	&:hover {
		background: darken($tertiary-color, 5%);
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($tertiary-color, 8%);
	}
}

.btn--dimmed {
	background-color: $border-color;
	color: $text-color;

	&:hover {
		background: darken($border-color, 5%);
		color: $text-color;
	}

	&:focus,
	&:active,
	&:active:focus {
		background: darken($border-color, 8%);
		color: $text-color;
	}
}

.btn--ghost {
	padding: 0;
	margin: 0;
	min-width: 0;
	max-width: none;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none !important;
	box-shadow: none !important;
	text-transform: none;
	font-size: inherit;
	font-weight: normal;
}

.btn--small {
	padding: 6px 12px;
	font-size: 13px;
}

.btn--operator {
	svg {
		width: 14px;
		height: 14px;
		margin-left: 3px;
		transform: translateX(4px) translateY(2px);
	}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin ball {
	@include center;
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
	z-index: 2;
	margin-top: 4px;
	animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}

.btn--busy {
	position: relative;
	user-select: none;
	pointer-events: none;
	transition: none;

	&,
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: rgba(0, 0, 0, 0) !important;
	}

	&:before {
		@include ball;
		animation-delay: .15s;
	}

	&>svg {
		display: none;
	}

	&>span {
		&::before {
			@include ball;
			margin-left: -10px;
		}

		&::after {
			@include ball;
			margin-left: 10px;
			animation-delay: .3s;
		}
	}

}

/*--------------------
Keyframe
--------------------*/
@keyframes ball {
	from {
		transform: translateY(0) scaleY(.8);
	}

	to {
		transform: translateY(-10px);
	}
}
