@import "~scss/variables";

/*--------------------------------------------------
Hotel Main Gallery
--------------------------------------------------*/

.hotel-gallery {
	padding-bottom: 20px;

	.swiper-wrapper {
		@media print {
			flex-wrap: wrap !important;
			margin: 0 -1% !important;
		}
	}

	.swiper-slide {
		width: 300px;

		@include xxs-down {
			width: 100%;
		}

		@media print {
			width: 30% !important;
			margin: 1%;
		}

		a {
			display: block;
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
		}

		img {
			position: absolute;
			min-height: 100%;
			min-width: 100%;
			height: auto;
			width: auto;
		}
	}

	.swiper-button {
		width: 38px;
		height: 36px;
		background: url('/assets/img/gallery-arrow.png') no-repeat center;
		margin-top: -28px;
		right: 0;
		opacity: .9;
		transition: opacity .2s ease-in-out;

		@media print {
			display: none !important;
		}

		&:hover {
			opacity: 1;
		}

		&:before {
			display: none;
			content: '';
		}
	}

	.swiper-button-prev {
		left: 0;
		transform: rotate(180deg);
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-disabled {
		opacity: .5;
		cursor: default;
	}

	.swiper-pagination-bullet-active {
		background: $tertiary-color;
	}
}


/*--------------------------------------------------
Home Slideshow
--------------------------------------------------*/
.home-slideshow-gallery {

	.swiper-pagination {
		justify-content: center;
		bottom: 0;
	}

	.swiper-pagination-bullet {
		position: relative;
		z-index: 1;
		display: flex;
		flex: 0 0 25%;
		justify-content: center;
		align-content: center;
		color: #fff;
		text-transform: uppercase;
		width: auto;
		height: auto;
		border-radius: 0;
		background: transparent;
		opacity: 1;
		padding: 20px 10px;
		font-size: 15px;
		overflow: hidden;
		line-height: 1;
		font-weight: 400;
		outline: none;

		&:before {
			content: '';
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #fff;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $tertiary-color;
			transform: scaleY(0);
			transform-origin: 0 0;
			transition: transform .40s cubic-bezier(.69, .02, .32, .99);
		}

		&-active {
			&:after {
				transform: scaleY(1);
			}
		}

		@include xs-down {
			font-size: 0;
			flex: 0 0 auto;
			height: 10px;
			width: 10px;
			padding: 0;
			border-radius: 50%;
			background: rgba(0, 0, 0, .3);
			border: none;

			&:before,
			&:after {
				display: none;
			}

			&-active {
				background: $tertiary-color;
			}
		}
	}
}
