@import "~scss/variables";

/*--------------------------------------------------
SERP
--------------------------------------------------*/

.serp-results {
	&--head {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 25px;
		padding: 8px 0 0;

		@include sm-down {
			padding-top: 0;
		}
	}

	&--tit {
		flex: 1 1 auto;
		padding-right: 10px;
		font-size: 15px;
		color: $tit-color;

		strong {
			font-size: 16px;
			color: $tertiary-color;
		}
	}

	&--filter {
		flex: 1 1 auto;
		text-align: right;

		@include sm-down {
			display: none;
		}

		&-item {
			white-space: nowrap;

			label {
				margin-right: 10px;
			}

		}
	}
}


/*--------------------------------------------------
hotel List
--------------------------------------------------*/

.hotel--item {
	display: flex;
	margin-bottom: 40px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
	min-height: 197px;

	@include xs-down {
		flex-direction: column;
	}

	.hotel--image {
		position: relative;
		z-index: 1;
		width: 300px;
		flex: 0 0 300px;

		@media (width: 768px) {
			width: 200px;
			flex: 0 0 200px;
		}

		@include md-down {
			flex: 0 0 240px;
			width: 240px;
		}

		@include xs-down {
			width: auto;
			flex: 0 0 auto;
		}

		.discount {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		a {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			overflow: hidden;

			@include xs-down {
				position: static;
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: auto;
				max-width: none;
				height: auto;
				min-width: 100%;
				min-height: 100%;
				transition: transform .3s ease-in-out;

				@include xs-down {
					position: static;
					transform: none;
					width: 100%;
					height: auto;
					min-height: 0;
					max-width: none;
					transition: none;
				}
			}

			&:hover {
				img {
					transform: translate3d(-50%, -50%, 0) scale(1.05);

					@include xs-down {
						transform: none;
					}
				}
			}
		}
	}

	.hotel--content {
		flex: 1 1 auto;
		padding: 8px 12px 12px;

		@include xs-down {
			padding-top: 6px;
		}

	}

	.hotel--head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		position: relative;
		z-index: 1;

		@include xs-down {
			display: block;
			padding-right: 30px;
		}

		.hotel--trust {
			text-align: right;
			margin-top: 3px;

			@include xs-down {
				text-align: left;

				&__text {
					display: inline-block;
					margin-left: 4px;
				}
			}
		}

		.add-to-fav {
			display: none;

			@include xs-down {
				position: absolute;
				top: 0;
				right: -9px;
				display: block;
				background: none;
				color: $primary-color;
				border: none;
				text-align: center;
				cursor: pointer;

				svg {
					width: 22px;
					height: 22px;
					stroke: $primary-color;
					stroke-width: 2px;
					fill: #fff;
				}
			}
		}
	}

	.hotel--info {
		padding-right: 6px;

		.hotel--name {
			font-weight: 600;
			color: $tit-color;
			font-size: 15px;
			line-height: 1.1;
			margin-bottom: 2px;


			@include xs-down {
				font-size: 13px;
			}

			a {
				color: $tit-color;
				margin-right: 3px;
				display: inline-block;
				text-decoration: none;

				span {
					margin-right: 4px;
				}

				&:hover {
					text-decoration: none;
				}
			}

			.stars {
				transform: translateY(3px);
			}
		}

		.hotel--location {
			font-size: 10px;
			line-height: 1.1;
		}
	}

	.hotel--desc {
		font-size: 12px;
		line-height: 1.2;

		@include xs-down {
			font-size: 11px;
		}

		.hotel--list {
			margin: 0;
			padding: 0;
			list-style: none;

			&-item {
				position: relative;
				z-index: 1;
				padding-left: 20px;
				padding-bottom: 6px;

				.ico {
					position: absolute;
					z-index: 1;
					top: -1px;
					left: 0;
					width: 16px;
					height: 16px;
					fill: $text-color;

					@include xs-down {
						width: 14px;
						height: 14px;
						top: 0;
					}
				}
			}
		}
	}

	.hotel--special-msg {
		color: $secondary-color;
		font-size: 11px;
		margin-top: 10px;

		strong {
			font-size: 15px;
			font-weight: bold;
		}
	}

	.hotel--action {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 190px;
		flex: 0 0 190px;
		padding: 8px 12px 12px;
		background: $light-color;

		@include md-down {
			width: 170px;
			flex: 0 0 170px;
		}

		@include xs-down {
			width: auto;
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-end;
			padding: 6px 12px 10px;
		}

		.add-to-fav {
			background: none;
			color: $primary-color;
			border: 1px solid $primary-color;
			text-align: center;
			cursor: pointer;
			text-transform: uppercase;
			padding: 5px 5px;
			font-size: 12px;
			background: #fff;
			transition: background .2s ease-in-out;
			margin-bottom: 8px;

			@include xs-down {
				display: none;
			}

			&:hover {
				background-color: lighten($primary-color, 43%);
			}

			svg {
				width: 14px;
				height: 14px;
				stroke: $primary-color;
				stroke-width: 1px;
				fill: #fff;
				vertical-align: text-top;
				transform: translateY(1px);
			}
		}



		.hotel--summary {
			flex: 1 0 auto;
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			@include xs-down {
				flex: 0 0 50%;
				display: block;
			}
		}
	}

	.hotel--price {
		color: $primary-color;
		margin-top: 5px;

		.desc {
			display: block;
			font-size: 9px;
			text-transform: uppercase;
			line-height: .9;
		}

		.single-price {
			font-weight: bold;
			line-height: .9;
			margin-bottom: 3px;
			display: block;

			.value {
				font-size: 40px;

				@include xs-down {
					font-size: 32px;
				}
			}

			.symbol {
				font-size: 16px;
			}
		}
	}

	.hotel--total-price {
		margin-top: 5px;
		font-size: 9px;
		text-transform: uppercase;
		line-height: .9;

		.total-price {
			font-weight: bold;
			display: inline-block;
			margin-left: 3px;
		}
	}

	.hotel--cta {
		margin-top: 10px;

		@include xs-down {
			flex: 0 0 50%;
		}

		.btn {
			text-align: center;
			display: block;
			width: 100%;
		}
	}

	.hotel--region,
	.hotel--town {
		text-transform: uppercase;
	}

}
