@import "~scss/variables";

/*--------------------------------------------------
Typography
--------------------------------------------------*/

h2 {
	color: $tit-color;
	font-size: 32px;
	line-height: 1.2;
	font-weight: 300;

	@include sm-down {
		font-size: 24px;
		font-weight: 600;
	}

	@include xs-down {
		font-size: 18px;
	}
}

h3 {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;
	font-weight: 400;
}

.head {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 15px 35px;

	@include sm-down {
		padding: 0 15px 20px;
		align-items: flex-end;
	}

	@include xxs-down {
		display: block;
	}

	.btn {
		margin-left: 20px;
		white-space: nowrap;

		@include sm-down {
			border: none;
			padding: 0;
			font-size: 14px;
			text-decoration: underline;
			color: $secondary-color;
			text-transform: none;
		}

		@include xxs-down {
			font-size: 12px;
			margin: 10px 0 0;
			color: rgba($tit-color, .7);
		}
	}
}

.text-muted {
	opacity: .7;
}


/*--------------------------------------------------
List
--------------------------------------------------*/

ul.list {
	margin: 0;
	padding: 0;
	list-style: none;
}


/*--------------------------------------------------
Alert
--------------------------------------------------*/

.alert {
	color: $tertiary-color;
	background-color: rgba($tertiary-color, .1);
	display: block;
	margin-bottom: 16px;
	margin-top: 16px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 12px;

	.close {
		position: relative;
		top: -.75rem;
		right: -1.25rem;
		padding: .75rem 1.25rem;
		color: inherit;
		border: 0;
		background: none;
		cursor: pointer;
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
	}

	&-danger {
		color: $alert-color;
		background-color: rgba($alert-color, .1);
	}

	.rounded-circle {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
}
