<div class="payment-page">
	<div class="container">
		<!-- Riepilogo -->
		<div class="payment-hotel-resume">
			<div class="hotel-info">
				<div class="hotel-image">
					<img src="http://eurospin-viaggi2.wslabs.it/media/immagini/23638_z_Gardaland_fantasy-27_G.jpg" alt="">
				</div>
				<div class="hotel-name">
					<span>HOTEL IL CASTELLO</span> <span class="stars"><em>*</em><em>*</em><em>*</em></span>
				</div>
				<div class="hotel-location">
					<span class="hotel-region">Italia Toscana</span>&nbsp;<span class="hotel-town">Radda in Chianti SI</span>
				</div>
			</div>
			<div class="travel-info">
				<div>
					<span>Partecipanti</span>
					<strong>2 adulti</strong>
				</div>
				<div>
					<span>Camera</span>
					<strong>Camera doppia/tripla/deluxe</strong>
				</div>
				<div>
					<span>Durata</span>
					<strong>3 notti</strong>
				</div>
				<div>
					<span>Data di partenza</span>
					<strong>21/04/2018</strong>
				</div>
				<div>
					<span>Data di ritorno</span>
					<strong>24/04/2018</strong>
				</div>
				<div>
					<span>Assicurazione</span>
					<strong>Assicurazione annullamento</strong>
				</div>
			</div>
			<div class="total-price">
				<span>Totale<br>Complessivo</span>
				<strong>380€</strong>
			</div>
		</div>
		<!-- /Riepilogo -->

		<!-- Payment Container -->
		<div class="payment-container">
			<h1 class="h1">Prenota subito il tuo viaggio</h1>
			<p>Inserisci i tuoi dati oppure <a href="#">accedi</a></p>

			<form autocomplete="off" name="signUp" novalidate="">
				<div><label for="firstName">Nome <sup>*</sup></label><input autocomplete="firstName" name="firstName" required="" type="text" placeholder="Nome" /></div>
				<div><label for="lastName">Cognome <sup>*</sup></label><input autocomplete="lastName" name="lastName" required="" type="text" placeholder="Cognome" /></div>
				<div><label for="email">Email <sup>*</sup></label><input autocomplete="email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required="" type="email" placeholder="Email" /><small>We'll never share your email with anyone else.</small></div>
				<div><label for="emailConfirm">Conferma email <sup>*</sup></label><input autocomplete="emailConfirm" name="emailConfirm" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required="" type="email" placeholder="Conferma email" /></div>
				<p>
					Ti invieremo comunicazioni importanti e documenti a questo indirizzo
				</p>
				<h3 class="h3">
					Crea una password per gestire la tua prentotazione
				</h3>
				<p>
					È facile! Puoi cancellare, fare modifiche o inviare una richiesta alla struttura
				</p>
				<div><label for="password">Password <sup>*</sup><small>(minimo 6 caratteri)</small></label><input autocomplete="password" name="password" required="" type="password" placeholder="Password" /></div>
				<div>
					<div><label><input name="passwordReveal" type="checkbox" />vedi password</label></div>
				</div>
				<div>
					<div><label><input name="privacyAccepted" required="" type="checkbox" />Preso atto dell’informativa, accetto al trattamento dei miei dati personali ai fini dell’invio di proposte comerciali da parte di Eurospin</label></div>
				</div>
				<br /><button type="submit" class="btn">Prosegui</button></form>
		</div>
		<!-- /Payment Container -->
	</div>
</div>
