<div class="payment-page" *ngIf="!booking">
	Selezionare un'offerta
</div>

<div class="payment-page" *ngIf="booking">
	<!-- {{booking | json}} -->
	<!-- Payment Steps -->
	<div class="payment-steps">
		<div class="container">
			<div class="step" [ngClass]="(step == 1) ? 'active' : (step > 1) ? 'done' : ''">
				<span>1</span>
			</div>
			<div class="step" [ngClass]="(step == 2) ? 'active' : (step > 2) ? 'done' : ''">
				<span>2</span>
			</div>
			<div class="step" [ngClass]="(step == 3) ? 'active' : (step > 3) ? 'done' : ''">
				<span>3</span>
			</div>
			<div class="step" [ngClass]="(step == 4) ? 'active' : ''">
				<span>4</span>
			</div>
		</div>
	</div>
	<!-- /Payment Steps -->

	<div class="container">
		<!-- Riepilogo -->
		<div class="payment-hotel-resume">
			<div class="hotel-info">
				<div class="hotel-image">
					<img [src]="booking.hotel.photo + '?width=40height=40&rmode=crop'" alt="{{booking.hotel.name}}">



				</div>
				<div class="hotel-head">
					<div class="hotel-name">
						<span>{{booking.hotel.name}}</span> <span class="stars"><em *ngFor="let star of booking.hotel.rating?.split('');" [ngClass]="{ superior: star === 'S' }">{{star}}</em></span>
					</div>
					<div class="hotel-location">
						<span class="hotel-region">{{booking.hotel.location?.avesDstCode}}</span>
						<!-- <span class="hotel-region">Italia Toscana</span>&nbsp;<span class="hotel-town">Radda in Chianti SI</span> -->
					</div>
				</div>
			</div>
			<div class="travel-info">
				<div>
					<span>Partecipanti</span>
					<strong>{{booking.adults}} adulti</strong>
				</div>
				<div>
					<span>Camera</span>
					<strong><ng-container *ngFor="let accomodation of getChecked(booking.options?.accomodations)">{{accomodation.name}}</ng-container></strong>
				</div>
				<div>
					<span>Durata</span>
					<strong>{{booking.daysTotal}} notti</strong>
				</div>
				<div>
					<span>Data di partenza</span>
					<strong>{{booking.checkIn | date : 'shortDate'}}</strong>
				</div>
				<div>
					<span>Data di ritorno</span>
					<strong>{{booking.checkOut | date : 'shortDate'}}</strong>
				</div>
				<div>
					<span>Assicurazione</span>
					<strong><ng-container *ngFor="let extraQuote of getChecked(booking.options?.extraQuotes)">{{extraQuote.name}}</ng-container></strong>
				</div>
			</div>
			<div class="total-price">
				<div>
					<span>Totale Complessivo</span>
					<strong>{{booking.priceTotal}}€</strong>
				</div>
			</div>
		</div>
		<!-- /Riepilogo -->

		<!-- Payment Container -->
		<div class="payment-container">

			<!-- Step 1 -->
			<div class="payment-step-1" *ngIf="step == 1">
				<h2 class="h1">Prenota subito il tuo viaggio</h2>
				<p>Inserisci i tuoi dati oppure <button type="button" (click)="onSign()">accedi</button></p>
				<form class="form" name="signUp" role="form" novalidate autocomplete="off" (ngSubmit)="signUp.valid && onSignUp()" #signUp="ngForm">
					<div class="form-row">
						<div class="form-group">
							<label for="firstName">{{ 'signUp.firstName' | translate }} <sup>*</sup></label>
							<input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" placeholder="{{ 'signUp.firstName' | translate }}" #firstName="ngModel" autocomplete="firstName">
							<div *ngIf="firstName.invalid && (signUp.submitted || firstName.dirty || firstName.touched)" class="alert alert-danger">
								<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
							</div>
						</div>
						<div class="form-group">
							<label for="lastName">{{ 'signUp.lastName' | translate }} <sup>*</sup></label>
							<input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" placeholder="{{ 'signUp.lastName' | translate }}" #lastName="ngModel" autocomplete="lastName">
							<div *ngIf="lastName.invalid && (signUp.submitted || lastName.dirty || lastName.touched)" class="alert alert-danger">
								<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label for="email">{{ 'signUp.email' | translate }} <sup>*</sup></label>
							<input type="email" class="form-control" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="emailConfirm" reverse="true" [(ngModel)]="model.email" name="email" placeholder="{{ 'signUp.email' | translate }}" #email="ngModel" autocomplete="email">
							<div *ngIf="email.invalid && (signUp.submitted || email.dirty || email.touched)" class="alert alert-danger">
								<div *ngIf="email.errors.required">{{ 'errors.required' | translate }}</div>
								<div *ngIf="email.errors.pattern">{{ 'errors.email' | translate }}</div>
							</div>
						</div>
						<div class="form-group">
							<label for="emailConfirm">{{ 'signUp.emailConfirm' | translate }} <sup>*</sup></label>
							<input type="email" class="form-control" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" match="email" [(ngModel)]="model.emailConfirm" name="emailConfirm" placeholder="{{ 'signUp.emailConfirm' | translate }}" #emailConfirm="ngModel" autocomplete="emailConfirm">
							<div *ngIf="emailConfirm.invalid && (signUp.submitted || emailConfirm.dirty || emailConfirm.touched)" class="alert alert-danger">
								<div *ngIf="emailConfirm.errors.required">{{ 'errors.required' | translate }}</div>
								<div *ngIf="emailConfirm.errors.email">{{ 'errors.email' | translate }}</div>
								<div *ngIf="emailConfirm.errors.match">{{ 'errors.match' | translate }}</div>
							</div>
						</div>
					</div>
					<p>Ti invieremo comunicazioni importanti e documenti a questo indirizzo</p>
					<br>
					<h3 class="h3">Crea una password per gestire la tua prentotazione</h3>
					<p>È facile! Puoi cancellare, fare modifiche o inviare una richiesta alla struttura</p>
					<div class="form-group">
						<label for="password">{{ 'signUp.password' | translate }} <sup>*</sup> <small class="text-muted">({{ 'signUp.passwordHint' | translate }})</small></label>
						<div class="form-password-reveal">
							<input [type]="passwordReveal.value ? 'text' : 'password'" class="form-control" required minlength="6" [(ngModel)]="model.password" name="password" placeholder="{{ 'signUp.password' | translate }}" #password="ngModel" autocomplete="password">
							<div class="checkbox">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input" [(ngModel)]="model.passwordReveal" name="passwordReveal" #passwordReveal="ngModel">
									<span>{{ 'signUp.passwordReveal' | translate }}</span>
								</label>
							</div>
						</div>
						<div *ngIf="password.invalid && (signUp.submitted || password.dirty || password.touched)" class="alert alert-danger">
							<div *ngIf="password.errors.required">{{ 'errors.required' | translate }}</div>
							<div *ngIf="password.errors.minlength">{{ 'errors.minlength' | label : { value: password.errors.minlength.requiredLength } }}</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<h4>Informativa Privacy</h4>
						<div class="checkbox">
							<label>
								<input type="checkbox" class="form-check-input" required [(ngModel)]="model.privacyAccepted" name="privacyAccepted" #privacyAccepted="ngModel">
								<span>Preso atto dell’<a href="/media/userfiles/files/20180522-Informativa_Newsletter.pdf" target="_blank">informativa</a>, accetto al trattamento dei miei dati personali ai fini dell’invio di proposte comerciali da parte di Eurospin</span>
							</label>
						</div>
						<div *ngIf="privacyAccepted.invalid && (signUp.submitted || privacyAccepted.dirty || privacyAccepted.touched)" class="alert alert-danger">
							<div *ngIf="privacyAccepted.errors.required">{{ 'errors.required' | translate }}</div>
						</div>
					</div>
					<br />
					<button type="submit" class="btn">Prosegui</button>
				</form>
			</div>
			<!-- /Step 1 -->

			<!-- Step 2 -->
			<div class="payment-step-2" *ngIf="step == 2">
				<h2 class="h1">Intestatario pratica</h2>
				<form autocomplete="off" class="form" name="signUp" novalidate="">
					<div class="codice-fiscale">
						<div class="form-group">
							<label for="codiceFiscale">Codice fiscale <sup>*</sup></label>
							<input class="form-control" autocomplete="codiceFiscale" name="codiceFiscale" required="" type="text" placeholder="" />



						</div>
						<button class="btn btn--ghost">Calcola</button>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label for="address">Indirizzo <sup>*</sup></label>
							<input class="form-control" autocomplete="address" name="address" required="" type="text" placeholder="" />



						</div>
						<div class="form-group">
							<label for="country">Nazione <sup>*</sup></label>
							<select class="form-control" name="country" required="">
								<option>Seleziona</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label for="city">Città <sup>*</sup></label>
							<input class="form-control" autocomplete="city" name="city" required="" type="text" placeholder="" />



						</div>
						<div class="form-row">
							<div class="form-group">
								<label for="cap">CAP <sup>*</sup></label>
								<input class="form-control" autocomplete="cap" name="cap" required="" type="number" placeholder="" />



							</div>
							<div class="form-group">
								<label for="province">Provincia <sup>*</sup></label>
								<select class="form-control" name="province" required="">
									<option>Seleziona</option>
								</select>
							</div>
						</div>
					</div>
					<br>
					<h3 class="h3">I dati dei tuoi passeggeri</h3>
					<br>
					<h4>PASSEGGERO 2</h4>
					<div class="form-row">
						<div class="form-group">
							<label for="firstName">Nome <sup>*</sup></label>
							<input class="form-control" autocomplete="firstName" name="firstName" required="" type="text" placeholder="" />



						</div>
						<div class="form-group">
							<label for="lastName">Cognome <sup>*</sup></label>
							<input class="form-control" autocomplete="lastName" name="lastName" required="" type="text" placeholder="" />



						</div>
					</div>
					<div class="form-row">
						<div class="form-group">
							<label for="birthDate">Data di nascita <sup>*</sup></label>
							<input class="form-control" autocomplete="birthDate" name="birthDate" required="" type="date" placeholder="" />



						</div>
					</div>
					<br />
					<button type="submit" class="btn" (click)="step = 3">Prosegui</button>
				</form>
			</div>
			<!-- /Step 2 -->

			<!-- Step 3 -->
			<div class="payment-step-3" *ngIf="step == 3">
				<h2 class="h1">Hai una carta regalo?</h2>
				<p>Aggiungi la carta regalo inserendo il codice utilizzo e il codice segreto (zona da grattare) presenti sul rtro della carta</p>
				<form autocomplete="off" class="form" name="signUp" novalidate="">
					<div class="form-group">
						<label for="codiceCartaRegalo">Codice utilizzo</label>
						<input class="form-control" autocomplete="address" name="codiceCartaRegalo" type="text" placeholder="" />



					</div>
					<div class="secret-code">
						<div class="form-group">
							<label for="codiceSegretoCarta">Codice segreto (4 cifre) </label>
							<input class="form-control" autocomplete="address" name="codiceSegretoCarta" type="number" placeholder="" />



						</div>
						<button type="button" class="btn btn--tertiary">Aggiungi</button>
					</div>
					<br>
					<h2 class="h2">Pagamento</h2>
					<p>Proteggiamo i tuoi acquisti <img src="assets/img/sicurezza.png" class="card-security" alt="Verified By Visa, Mastercard Security Code"></p>
					<br>
					<h4>Seleziona la modalità di pagamento.</h4>
					<div class="form-payment">
						<div class="form-group">
							<div class="radio">
								<label>
									<input class="form-control" name="paymentMode" required="" type="radio" />
									<span>Bonifico bancario</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio">
								<label>
									<input class="form-control" name="paymentMode" required="" type="radio" />
									<span>PayPal <img src="/assets/img/payment-paypal.png" alt="PayPal"></span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio">
								<label>
									<input class="form-control" name="paymentMode" required="" type="radio" />
									<span>Carta di credito <img src="/assets/img/payment-carte.png" alt="Carte di credito"></span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="radio">
								<label>
									<input class="form-control" name="paymentMode" required="" type="radio" />
									<span>MyBank <img src="/assets/img/payment-mybank.png" alt="MyBank"></span>
								</label>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group">
						<h4 class="h4">Informativa Privacy</h4>
						<div class="checkbox">
							<label>
								<input class="form-control" name="privacyAccepted" required="" type="checkbox" />
								<span>Preso atto dell’<a href="/media/userfiles/files/20180522-Informativa_Newsletter.pdf" target="_blank">informativa</a>, accetto al trattamento dei miei dati personali ai fini dell’invio di proposte comerciali da parte di Eurospin</span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn" (click)="step = 4">Acquista</button>
				</form>
			</div>
			<!-- /Step 3 -->

			<!-- Step 4 -->
			<div class="payment-step-4" *ngIf="step == 4">
				<h2 class="h1">Congratulazioni</h2>
				<h3>La tua prenotazione è confermata! Abbiamo inviato un’email a email@email.com</h3>
				<button class="btn">Stampa la tua prenotazione</button>
				<br>
				<br>
				<p><strong>SE HAI CONFERMATO CON CARTA DI CREDITO/MYBANK/PAYPAL:</strong><br> riceverai email con gli allegati della conferma di prenotazione, la fattura e il voucher da stampare e presentare al momento del check-in in hotel. Se hai prenotato un pacchetto Tour Operator/traghetto/crociera, i documenti di viaggio saranno spediti via email prima della partenza.</p>
				<p><strong>SE HAI SCELTO LA MODALITA’ DI PAGAMENTO CON BONIFICO BANCARIO:</strong><br>per confermare la tua richiesta di opzione, effettua il bonifico e invia copia della ricevuta di bonifico a bonifico@eurospin-viaggi.it o al fax 045 9598500 entro e non oltre le ore 14.00 del giorno lavorativo successivo alla prenotazione (per prenotazioni effettuate il venerdì e il sabato, l’invio della ricevuta di bonifico dovrà essere effettuato entro le ore 14.00 del lunedì).</p>
				<p><strong>NOTA IMPORTANTE:</strong><br> in caso di mancata ricezione della ricevuta di bonifico nei termini sopra indicati, la prenotazione sarà automaticamente annullata.</p>
				<p>Non appena il tuo pagamento sarà contabilizzato, riceverai email con gli allegati della conferma di prenotazione, la fattura e il voucher da stampare e presentare al momento del check-in in hotel. Se hai prenotato un pacchetto Tour Operator/traghetto/crociera, i documenti di viaggio saranno spediti via email prima della partenza.</p>
				<p>Per ogni informazione o assistenza, puoi contattarci al numero +39 045 9599 (consulta gli orari del nostro Call Center su <a href="https://www.eurospin-viaggi.it">www.eurospin-viaggi.it</a>)</p>
			</div>
			<!-- /Step 4 -->

		</div>
		<!-- /Payment Container -->
	</div>
</div>
